.img{
    height: 700px;
    width: 100%;
    background-size: 100% 100% !important;

    }
.topnav {
         background-color: #FFFFFF;
         overflow: hidden;
         opacity: 0.5;
         filter: alpha(opacity=50)!important; 
        
 }
 .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: Arial !important;
}     
.topnav a:hover {
    background-color: #F0F0F0;
    color: black !important;
}        
.h1main{
    font-size: 130px;
    color: #FFFFFF;
    text-align: center;
    padding:0;
    margin-top: 10%;
    font-family: Arial;
    font-weight: 900;
    line-height:0px !important;
}          
.h1sub{
    font-size: 100px;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial;
    margin-top: 8%;
    opacity: 0.5; 
    line-height:50px !important;
}        
.search{
    width: 700px;
    height: 50px;
    opacity: 1;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    display: block;
    background: transparent;
    border-radius: 4px;
    font-size: 30px;
    border-style: solid;
    border-color: white;
    font-family: Arial !important;

    
}
.search:hover{
    background: #FFFFFF !important;
}
.whiteBackground{
    height: 700px;
    width: 100%;
    background-size: 100% 100% !important;
    padding-left: 40px;

}
.container{
    width: 82%;  
    border:35px  solid;
    border-color: white;
    align:center;
    margin-left: 80px !important;

}
.divLeft {
    align: left;
    height: 350px;
    width: 490px;
    background-size: 100% 100%;
    border-right-width: 2%;
    border-right-color: #FFFFFF;
    margin-left:-16px;
    float: left !important;
    
    
}
.divRight {
    margin-left: 47%;
    height: 350px;
    width: 490px;
    background-size: 100% 100% ;
    margin-left:51.2% !important;   
}
.top{
    padding-top: 10% !important;
}
.button{
    background: transparent;
    display:inline-block;
    height: 60px;
    width: 260px;  
    font-size: 40px;
    font-family: Arial;
    font-weight: 90;
    color: #680F94;
    border-style: solid;
    border-color: #680F94 !important;
}
.paddingButtons{
    padding-top: 150px;
    padding-left: 130px !important;
}
.divLeft:hover > .paddingButtons >.button{
    background: #680F94;
    color: white;
    border-style: solid;
    border-color: white;
    opacity: .5 !important;
}
.divRight:hover > .paddingButtons >.button{
    background: #680F94;
    color: white;
    border-style: solid;
    border-color: white !important;
}
.small{
    margin-top: 20px;
    align: left;
    height: 160px;
    width: 234px;
    background-size: 100% 100%;
    border-right-width: 2%;
    border-right-color: #FFFFFF;
    float: left ;
    margin-left: -7% !important;
}
.small1{
    margin-top: 20px;
    align: left;
    height: 160px;
    width: 234px;
    background-size: 100% 100%;
    border-right-width: 2%;
    border-right-color: #FFFFFF;
    margin-left: 8% !important;
    
}
.small2{
    margin-top: 20px;
    align: left;
    height: 160px;
    width: 234px;
    background-size: 100% 100%;
    border-right-width: 2%;
    border-right-color: #FFFFFF;
    margin-left: 2% !important;
    
    
}
.small3{
    margin-top: 20px;
    align: left;
    height: 160px;
    width: 234px;
    background-size: 100% 100%;
    border-right-width: 2%;
    border-right-color: #FFFFFF;
    margin-left: 17% !important;
}