<div style="margin:0%;padding: -10%">
    <div style="background-image: url('assets/l2.jpg');" class="img ">
      <div class="topnav" id="myTopnav">
          <a href="#contact">CONTACT</a>
          <a href="#contact">SHOP</a>
          <a href="#home" class="active">HOME</a>          
        </div>

        <div class="h1main">
          <p>LEARN HOW WE</p>
        </div>
        <div class="h1sub">
          <p>GAIN KNOWLEDGE</p>
         </div>
          <input id="input" type="text" class="form-control search" placeholder="What are you looking for ?" (click)="myFunction()"/>
          <!-- [(ngModel)]="model" [ngbTypeahead]="search" -->
          <div class="top">
              <div  class="whiteBackground">
                <div class="container">
                    <div style="background-image: url('assets/liter.jpg');" class="divLeft">
                      <div class="paddingButtons">
                          <input type="button" value="Literature" class="button">
                      </div>
                    </div>                    
                    <div style="background-image: url('assets/novel.jpg');" class="divRight">
                      <div class="paddingButtons">
                          <input type="button" value="Literature" class="button">
                      </div>
                    </div>
                    <table>
                      <td>
                          <div  style="background-image: url('assets/b1.jpg');" class="small" >
                          </div>
                      </td>
                      <td>
                          <div  style="background-image: url('assets/b3.jpg');" class="small2" >
                          </div>
                      </td>
                      <td>
                          <div  style="background-image: url('assets/b2.jpg');" class="small1" >
                          </div>
                      </td>
                      <td>
                          <div  style="background-image: url('assets/b4.jpg');" class="small3" >
                          </div>
                      </td>
                    </table>
                </div>
                
              </div>
            </div>
    </div>
</div>
