<div class="image page_cart-item--image">
    <img src={{item.product.image}}/>
</div>
<div class="content">
    <a class="header page_cart-item--header" routerLink="/catalog/{{item.product._id}}">{{item.product.brand}} {{item.product.title}}</a>
    <div class="meta">
        <span class="date">{{item.product.price | currency}}</span>
    </div>
    <div class="description page_cart-item--description">
        <p>Choose the quantity of computers:</p>
    </div>
    <div class="extra content ui form page_cart-item--extra">
        <div class="page_cart-item--quantity field">
            <input type="number" value="{{item.quantity}}" (change)="changeQuantity($event.target.value)" min="1" max="10" />
        </div>
        <div class="page_cart-item--total">Total: {{(item.product.price*item.quantity)| currency:'USD'}}</div>
        <span class="ui button" (click)="removeFromCart()"><i class="fa fa-remove"></i></span>
    </div>
</div>
