$accent-palette: (
  50: #f2e0e7,
  100: #ddb3c4,
  200: #c7809c,
  300: #b14d74,
  400: #a02657,
  500: #8f0039,
  600: #870033,
  700: #7c002c,
  800: #720024,
  900: #600017,
  A100: #ff90a1,
  A200: #ff5d76,
  A400: #ff2a4a,
  A700: #ff1135,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$alert-palette: (
  50: #fae6e6,
  100: #f2c1c1,
  200: #e99797,
  300: #e06d6d,
  400: #da4e4e,
  500: #d32f2f,
  600: #ce2a2a,
  700: #c82323,
  800: #c21d1d,
  900: #b71212,
  A100: #ffe7e7,
  A200: #ffb4b4,
  A400: #ff8181,
  A700: #ff6868,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #fff,
  A200: #eee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);
$primary-palette: (
  50: #e0eff8,
  100: #b3d6ef,
  200: #80bbe4,
  300: #4d9fd9,
  400: #268bd0,
  500: #0076c8,
  600: #006ec2,
  700: #0063bb,
  800: #005496,
  900: #143e74,
  A100: #d1e1ff,
  A200: #9ec0ff,
  A400: #6b9eff,
  A700: #528eff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$success-palette: (
  50: #eaf5ea,
  100: #c9e7cb,
  200: #a6d7a8,
  300: #82c785,
  400: #67bb6a,
  500: #4caf50,
  600: #45a849,
  700: #3c9f40,
  800: #339637,
  900: #248627,
  A100: #c5ffc7,
  A200: #92ff95,
  A400: #5fff64,
  A700: #46ff4b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$warning-palette: (
  50: #fff3e0,
  100: #ffe0b3,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #ff9000,
  700: #ff8500,
  800: #ff7b00,
  900: #ff6a00,
  A100: #fff,
  A200: #fff7f2,
  A400: #ffd6bf,
  A700: #ffc5a6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
$backgrounds: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: #f6f9fa,
  background-light: rgba(#000, 0.02),
  hover: rgba(black, 0.04),
  card: #fff,
  dialog: #fff,
  disabled-button: rgba(black, 0.12),
  raised-button: #fff,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200)
);
$foregrounds: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38)
);
// https://material.angular.io/guide/typography
$typography-theme: (
  font-family:
    "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif",
  display-4: (
    112px,
    112px,
    300
  ),
  display-3: (
    56px,
    56px,
    400
  ),
  display-2: (
    45px,
    48px,
    400
  ),
  display-1: (
    34px,
    40px,
    400
  ),
  headline: (
    24px,
    32px,
    400
  ),
  title: (
    20px,
    32px,
    500
  ),
  subheading-2: (
    16px,
    28px,
    400
  ),
  subheading-1: (
    15px,
    24px,
    400
  ),
  body-2: (
    16px,
    30px,
    500
  ),
  body-1: (
    16px,
    26px,
    400
  ),
  caption: (
    12px,
    20px,
    400
  ),
  button: (
    14px,
    14px,
    500
  ),
  input: (
    inherit,
    1.125,
    400
  )
);
