<div class="page_catalog">
    <h1 class="page_catalog-title">Computers catalog</h1>

    <div style="display: flex; justify-content: space-around">
        <catalog-filters (filter)="filterCatalogItems($event)"></catalog-filters>
        <div class="page_catalog-list">
            <h2 *ngIf="isEmptyCatalog()">No computers in the catalog</h2>

            <div class="flex-container flex-wrap">
                <catalog-item *ngFor="let computer of computers" class="item page_catalog-list-item" [item]="computer"></catalog-item>
            </div>
        </div>
    </div>
</div>
