<dl>
  <dt i18n>School Year</dt>
  <dd>{{schoolYear.year}}</dd>
  <dt i18n>Is Current Year</dt>
  <dd>{{schoolYear.isCurrent}}</dd>
  <dt i18n>Start Date</dt>
  <dd>{{schoolYear.startDate | date:'fullDate'}}</dd>
  <dt i18n>End Date</dt>
  <dd>{{schoolYear.endDate | date:'fullDate'}}</dd>
</dl>

<button i18n class="btn btn-primary mr-2" (click)="setAsCurrent()" *ngIf="!schoolYear.isCurrent">Set As Current Year</button>

<button i18n class="btn btn-primary" (click)="open(content)">Assign Courses</button>

<p class="h6 my-3"><u><ng-container i18n>Courses associated to this school year:</ng-container></u></p>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Name</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of assignedCourses">
      <td>{{course.course.name}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-space" (click)="removeCourse(course.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
          <span class="small" i18n>  Delete Association</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"><ng-container i18n>Asignar Cursos a</ng-container> {{schoolYear?.year}}</h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span i18n class="bold">Available Courses</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item" *ngFor="let course of availableCourses">
              {{course.name}}
              <button type="button" class="btn btn-outline-primary btn-sm pull-right" (click)="addCourse(course)">
                <span class="fa fa-arrow-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <span i18n class="bold">Assigned Courses</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item" *ngFor="let assigCourse of assignedCourses">
              <button type="button" class="btn btn-outline-primary btn-sm pull-left" (click)="removeCourse(assigCourse.id)">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
              </button> &nbsp; &nbsp;
              {{assigCourse.course.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
