<main role="main">
    <section class="jumbotron content text-center" style="background-image: url('https://images4.alphacoders.com/738/thumb-1920-73806.jpg');">
        <form id="indexSearchForm">
            <label for="search">{{ searchTitle | naturalType:100 }}</label>
            <div class="input-group">
                <input list="topAnimes" type="text" class="form-control borderRadiusZero" size="50" placeholder="What are you looking for?" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger borderRadiusZero"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <datalist id="topAnimes">
                    <option value="Dragon Ball Z">
                    <option value="One Piece">
                    <option value="Code Geass">
                    <option value="Naruto">
                    <option value="Attack On Titan">
                </datalist>
            </div>
        </form>           
    </section>

    <section class="darkGreyBackGround">
        <h3 class="headerDecorator">{{animeVillainsTitle}}</h3>
        <div class="button-container">
            <button (click)="sliceData('backward')" type="button" class="btn btn-default slider-button"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button (click)="sliceData('forward')" type="button" class="btn btn-default slider-button"><span class="glyphicon glyphicon-chevron-right"></span></button>
            <button type="button" class="btn btn-default slider-button">See All <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>    
    </section>

    <section role="section" class="darkGreyBackGround p10-top">
        <div *ngFor="let villain of animeVillains" class="tp-wrapper col-md-3">
            <div class="tp-box" (mouseenter)="toggleFlip(villain)" (mouseleave)="toggleFlip(villain)" [@flipState]="villain.flip">
                <div class="tp-box__side tp-box__front">
                    <img [src]="villain.image" alt="{{ villain.alt }}" class="inheritHeightWidth"> 
                </div>
                <div class="tp-box__side tp-box__back">
                    {{ villain.description }}
                </div>
            </div>
        </div>
    </section>        
    
    <section role="section" class="displayBlock">
        <app-carousel [sliderImages]="carouselImages" [sliderHeight]="carouselHeight"></app-carousel>
    </section>
</main>