  /* studentAvatar needed to position the button. Adjust the width as needed */
.studentAvatar {
  position: relative;
  width: 200px;
  border-style: ridge;
  display: inline-block;
  margin: 15px;
}

.studentAvatar img {
  width: 70px;
  height: auto;
}

.studentAvatar .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.studentAvatar .btn:hover {
  background-color:transparent;
}

.list-group {
  height: 350px;
  overflow-y: scroll;
}

.list-group-item {
  padding-top: 1px;
  padding-bottom: 1px;
}

.more-space {
  margin-top: 10px;
  margin-bottom: 10px;
}
