


<ng-container [ngSwitch]="rolesSvc.getUserType()">
  <ng-container *ngSwitchCase="'admin'">
    <!-- ADMIN HOME -->
    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-1 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-1">
              <h5 class="text-info pb-1">
                Bienvenido Administrador
              </h5>
              <p class="lead pb-1">
                ¡Bienvenido a Vocero Escolar! A continuación, encontrará una explicación de los diferentes roles de su cuenta de usuario. Lea la pagina completa para obtener una descripción general de las funcionalidades que le ofrecemos.
              </p>
            </div>
            <!-- ACCORDION -->
            <div id="accordion" role="tablist">
              <div class="card">
                <div class="card-header" id="heading1">
                  <h6 class="mb-0">
                    <div href="#collapse1" (click)="isCollapsed1 = !isCollapsed1" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> Invite Usuarios al Sistema
                    </div>
                  </h6>
                </div>
                <div id="collapse1" [ngbCollapse]="isCollapsed1" >
                  <div class="card-body">
                    Como un Administrador, usted puede invitar padres y profesores al sistema, con la finalidad de que ellos puedan autenticarse y revisar el contenido de la aplicación.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2">
                  <h6 class="mb-0">
                    <div href="#collapse2" (click)="isCollapsed2 = !isCollapsed2" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> Registre Estudiantes
                    </div>
                  </h6>
                </div>
                <div id="collapse2" [ngbCollapse]="isCollapsed2">
                  <div class="card-body">
                    Como un Administrador, usted puede registrar estudiantes, sin duda el elemento de información mas importante del sistema.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading3">
                  <h6 class="mb-0">
                    <div href="#collapse3" (click)="isCollapsed3 = !isCollapsed3"  data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i>  Maneje Gestiones Escolares
                    </div>
                  </h6>
                </div>
                <div id="collapse3" [ngbCollapse]="isCollapsed3">
                  <div class="card-body">
                    Como un Administrador, usted puede manejar gestiones escolares, con la finalidad de poder usarlos como contenedores de información del actual periodo escolar. Tome en cuenta que es neceario definir una gestión como gestión actual para empezar a trabajar en ella.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading4">
                  <h6 class="mb-0">
                    <div href="#collapse4" (click)="isCollapsed4 = !isCollapsed4"  data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i>  Registre Cursos
                    </div>
                  </h6>
                </div>

                <div id="collapse4" [ngbCollapse]="isCollapsed4">
                  <div class="card-body">
                    Como un Administrador, usted puede registrar cursos con la finalidad de brindar un espacio en el cual los padres y profesores compartan su información.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- BOXES -->
    <section id="boxes" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5 class="text-primary">Asocie Información</h5>
                <p class="text-muted">Tome en cuenta que es necesario asociar Estudiantes con Cursos y Padres. También Profesores con Cursos.</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h5 >Anuncios Generales</h5>
                <p >Programe Anuncios que seran visibles en el calendario académico de todos los usuarios registrados del sistema</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5 class="text-primary">Anuncios por Curso</h5>
                <p class="text-muted">Programe Anuncios que seran visibles en el calendario académico de profesores y padres asociados al curso.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="'teacher'">
    <!-- TEACHER HOME -->
    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-1 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-1">
              <h5 class="text-info pb-1">
                Bienvenido Profesor
              </h5>
              <p class="lead pb-1">
                ¡Bienvenido a Vocero Escolar! A continuación, encontrará una explicación de los diferentes roles de su cuenta de usuario. Lea la pagina completa para obtener una descripción general de las funcionalidades que le ofrecemos.
              </p>
            </div>
            <!-- ACCORDION -->
            <div id="accordion" role="tablist">
              <div class="card">
                <div class="card-header" id="heading1">
                  <h6 class="mb-0">
                    <div href="#collapse1" (click)="isCollapsed1 = !isCollapsed1" data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> Revise sus cursos
                    </div>
                  </h6>
                </div>
                <div id="collapse1" [ngbCollapse]="isCollapsed1">
                  <div class="card-body">
                    Como un Profesor, usted puede revisar los cursos a los cuales esta asignado
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2">
                  <h6 class="mb-0">
                    <div href="#collapse2" (click)="isCollapsed2 = !isCollapsed2"  data-parent="#accordion">
                      <i class="fa fa-arrow-circle-down"></i> Gestione a sus estudiantes
                    </div>
                  </h6>
                </div>
                <div id="collapse2" [ngbCollapse]="isCollapsed2">
                  <div class="card-body">
                    Como un Profesor, usted puede ver los detalles de cada uno de los estudiantes inscritos a los cursos alos cuales usted esta asignado.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- BOXES -->
    <section id="boxes" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-4">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5 class="text-primary">Registre Antecedentes</h5>
                <p class="text-muted">Usted puede registrar antecedentes de seguimiento negativos y/o positivos de cada uno de sus estudiantes asignados </p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h5 >Anuncios por Curso</h5>
                <p >Programe Anuncios que seran visibles en el calendario académico de profesores y padres asociados al curso.</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5 class="text-primary">Publique temas de conversacion</h5>
                <p class="text-muted">Añada temas de conversación que serán visibles para todos los involucrados.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="'parent'">
    <!-- TEACHER HOME -->
    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-1 text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-1">
              <h5 class="text-info pb-1">
                Bienvenido Padre de Familia
              </h5>
              <p class="lead pb-1">
                ¡Bienvenido a Vocero Escolar! A continuación, encontrará una explicación de los diferentes roles de su cuenta de usuario. Lea la pagina completa para obtener una descripción general de las funcionalidades que le ofrecemos.
              </p>
            </div>
            <!-- ACCORDION -->
            <!--<div id="accordion" role="tablist">-->
              <!--<div class="card">-->
                <!--<div class="card-header" id="heading1">-->
                  <!--<h6 class="mb-0">-->
                    <!--<div href="#collapse1" data-toggle="collapse" data-parent="#accordion">-->
                      <!--<i class="fa fa-arrow-circle-down"></i> Revise los cursos asociados a su hijo-->
                    <!--</div>-->
                  <!--</h5>-->
                <!--</div>-->
                <!--<div id="collapse1" class="collapse show">-->
                  <!--<div class="card-body">-->
                    <!--Como un Padre de Familia, usted puede revisar los cursos a los cuales esta asignado su hijo-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="card">-->
                <!--<div class="card-header" id="heading2">-->
                  <!--<h6 class="mb-0">-->
                    <!--<div href="#collapse2" data-toggle="collapse" data-parent="#accordion">-->
                      <!--<i class="fa fa-arrow-circle-down"></i> Gestione a sus estudiantes-->
                    <!--</div>-->
                  <!--</h5>-->
                <!--</div>-->
                <!--<div id="collapse2" class="collapse">-->
                  <!--<div class="card-body">-->
                    <!--Como un Profesor, usted puede ver los detalles de cada uno de los estudiantes inscritos a los cursos alos cuales usted esta asignado.-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>
    <!-- BOXES -->
    <!-- BOXES -->
    <section id="boxes" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5 class="text-primary">Cursos</h5>
                <p class="text-muted">Revise los detalles de los cursos asignados a su hijo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h5>Antecedentes</h5>
                <p>Entérese del comportamiendo de su hijo mediante el seguimiento realizado por profesores </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center border-primary">
              <div class="card-body">
                <h5 class="text-primary">Anuncios</h5>
                <p class="text-muted">Revise el Calendario Académico, que publica anuncios generales y por curso.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center bg-primary text-white">
              <div class="card-body">
                <h5>Foro</h5>
                <p>Participe en los temas de discusión actuales.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <div class="row">
      <div class="col-md-5">
        <img  class="img-fluid" src="http://lh6.ggpht.com/Kdq7QRPSa7tDUflSxlKDUme6Rum1swGsIce7BcjRxLTuicJdN-v2ispI9AXe2usNEU1YxJT4lqoVvlxCfg=s517" alt="">
      </div>
      <div class="col-md-7">
        <p style="padding-top: 10px;" i18n>
          Actualmente la comunicación entre padres y maestros es muy limitada, las reuniones que llegan a haber en las unidades educativas depende mucho de cada una, puesto que hay horarios en los que los padres pueden reunirse con los profesores (según la institución), por lo general el horario de reuniones con los profesores para averiguar el estado de los estudiantes coincide con el horario de trabajo laboral de la mayoría de las personas, por lo que esto imposibilita el tener reuniones frecuentes, por consiguiente la falta de supervisión por parte de los padres sobre las actividades académicas de sus hijos lleva a que exista un bajo rendimiento académico.
          Por esta razón se ve conveniente crear una aplicación web que pueda mostrar la información que los profesores utilizan por alumno y mostrarla a los padres de familia de una forma amigable, rápida y con la seguridad de que toda la información será veraz, creando de esta manera un medio de comunicación para los padres con respecto a temas puramente escolares, las cuales informarán acerca de disciplina del niño en aula y en las diferentes materias que pasa, información acerca de actividades académicas como ser entrega de tareas, exámenes, entrega de trabajos, etc. y actividades escolares como ser horas cívicas, año deportivo, kermeses, etc.
        </p>
      </div>
    </div>
  </ng-container>
</ng-container>

