<h5>Angular 7 - HttpClient <hr /></h5>
<div class="row">
  	<button type="button" class="btn btn-primary" (click)="doGET()">GET</button>
  	<button type="button" class="btn btn-primary" (click)="doPOST()">POST</button>
  	<button type="button" class="btn btn-primary" (click)="doPUT()">PUT</button>
  	<button type="button" class="btn btn-primary" (click)="doDELETE()">DELETE</button>
</div>

<div class="row">
  	<button type="button" class="btn btn-success" (click)="doGETAsPromise()">As Promise</button>
  	<button type="button" class="btn btn-success" (click)="doGETAsPromiseError()">Error as Promise</button>
  	<button type="button" class="btn btn-success" (click)="doGETAsObservableError()">Error as Observable</button>
</div>

<div class="row">
  	<button type="button" class="btn btn-info" (click)="doGETWithHeaders()">With Headers</button>
</div>

<div>
    <h5><hr /> Result:  <span id='method_type'></span> <hr /></h5>
    <div id="result"></div>
</div>