<ng-template #content let-c="close" let-d="dismiss">
  <div [ngSwitch]="currentAction">
    <div *ngSwitchCase="'General'">
      <div class="modal-header">
        <h4 class="modal-title" i18n>New General Announcement</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="inputsForm" autocomplete="off" >
          <div class="form-group">
            <label for="title" i18n>Title</label>
            <input  type="text" class="form-control" id="title" i18n-placeholder placeholder="Enter a title" name="title" formControlName="title" required>
            <div *ngIf="inputsForm.controls['title'].invalid && (inputsForm.controls['title'].dirty || inputsForm.controls['title'].touched)"
                 class="alert alert-danger">
              <div *ngIf="inputsForm.controls['title'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description" i18n>Description</label>
            <textarea rows="2" class="form-control" id="description" i18n-placeholder placeholder="Enter a description" name="description" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label for="startDate" i18n>Start Date</label>
            <div class="input-group">
              <input id="startDate" class="form-control" i18n-placeholder placeholder="yyyy-mm-dd"
                     name="dp" ngbDatepicker #dp="ngbDatepicker"
                     formControlName="startDateField" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                  <span class="fa fa-calendar" aria-hidden="true" style="cursor: pointer;"></span>
                </button>
              </div>
            </div>
            <div *ngIf="inputsForm.controls['startDateField'].invalid && (inputsForm.controls['startDateField'].dirty || inputsForm.controls['startDateField'].touched)"
                 class="alert alert-danger">
              <div *ngIf="inputsForm.controls['startDateField'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
              <div *ngIf="inputsForm.controls['startDateField'].invalid && !inputsForm.controls['startDateField'].errors.required" >
                <ng-container i18n>Invalid date format.</ng-container>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="duration" i18n>Duration (in days)</label>
            <input type="number" class="form-control" id="duration" name="durationField" formControlName="durationField" i18n-placeholder placeholder="Enter the duration" required>
            <div *ngIf="inputsForm.controls['durationField'].invalid && (inputsForm.controls['durationField'].dirty || inputsForm.controls['durationField'].touched)"
                 class="alert alert-danger">
              <div *ngIf="inputsForm.controls['durationField'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
              <div *ngIf="inputsForm.get('durationField').errors.validDuration">
                <ng-container i18n>Please enter a number between 1 and 30 days</ng-container>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" i18n class="btn btn-default" (click)="c('Close click'); setValues()"
                [disabled]="inputsForm.invalid">Add</button>
        <button type="button" i18n class="btn btn-default" (click)="c('Close click'); reset()">Close</button>
      </div>
    </div>

    <div  *ngSwitchCase="'PerCourse'">
      <div class="modal-header">
        <h4 class="modal-title" i18n>New Announcement Per Course(s)</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); resetCF()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="inputsCourseForm" autocomplete="off" >
          <div class="form-group">
            <label for="coursesSelected" i18n>Courses</label>
            <angular2-multiselect
              id="coursesSelected"
              [data]="itemList"
              [settings]="settings"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
              formControlName="courseMultiSelect">
            </angular2-multiselect>
            <div *ngIf="inputsCourseForm.controls['courseMultiSelect'].invalid  && (inputsCourseForm.controls['courseMultiSelect'].dirty || inputsCourseForm.controls['courseMultiSelect'].dirty)"
                 class="alert alert-danger">
              <div *ngIf="inputsCourseForm.controls['courseMultiSelect'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="titleCF" i18n>Title</label>
            <input  type="text" class="form-control" id="titleCF" i18n-placeholder placeholder="Enter a title" name="title" formControlName="title" required>
            <div *ngIf="inputsCourseForm.controls['title'].invalid && (inputsCourseForm.controls['title'].dirty || inputsCourseForm.controls['title'].touched)"
                 class="alert alert-danger">
              <div *ngIf="inputsCourseForm.controls['title'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descriptionCF" i18n>Description</label>
            <textarea rows="2" class="form-control" id="descriptionCF" i18n-placeholder placeholder="Enter a description" name="description" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label for="startDateCF" i18n>Start Date</label>
            <div class="input-group">
              <input id="startDateCF" class="form-control" i18n-placeholder placeholder="yyyy-mm-dd"
                     name="dp" ngbDatepicker #dp="ngbDatepicker"
                     formControlName="startDateField" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                  <span class="fa fa-calendar" aria-hidden="true" style="cursor: pointer;"></span>
                </button>
              </div>
            </div>
            <div *ngIf="inputsCourseForm.controls['startDateField'].invalid && (inputsCourseForm.controls['startDateField'].dirty || inputsCourseForm.controls['startDateField'].touched)"
                 class="alert alert-danger">
              <div *ngIf="inputsCourseForm.controls['startDateField'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
              <div *ngIf="inputsCourseForm.controls['startDateField'].invalid && !inputsCourseForm.controls['startDateField'].errors.required" >
                <ng-container i18n>Invalid date format.</ng-container>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="durationCF" i18n>Duration (in days)</label>
            <input type="number" class="form-control" id="durationCF" name="durationField" formControlName="durationField" i18n-placeholder placeholder="Enter the duration" required>
            <div *ngIf="inputsCourseForm.controls['durationField'].invalid && (inputsCourseForm.controls['durationField'].dirty || inputsCourseForm.controls['durationField'].touched)"
                 class="alert alert-danger">
              <div *ngIf="inputsCourseForm.controls['durationField'].errors.required">
                <ng-container i18n>This field is required.</ng-container>
              </div>
              <div *ngIf="inputsCourseForm.get('durationField').errors.validDuration">
                <ng-container i18n>Please enter a number between 1 and 30 days</ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" i18n class="btn btn-default" (click)="c('Close click'); setCFValues()"
                [disabled]="inputsCourseForm.invalid">Add</button>
        <button type="button" i18n class="btn btn-default" (click)="c('Close click'); resetCF()">Close</button>
      </div>
    </div>
  </div>
</ng-template>


<div class="container">
  <div class="row justify-content-md-center">
    <div *ngIf="rolesSvc.isAdmin()" class="col-md-auto">
      <button class="btn btn-success" i18n (click)="open('General',content)">Add new General Announcement </button>
    </div>
    <div *ngIf="rolesSvc.isAdmin() || rolesSvc.isTeacher() " class="col-md-auto">
      <button class="btn btn-warning" i18n (click)="open('PerCourse', content)">Add new Announcement per Course </button>
    </div>
  </div>
</div>
