<div class="widget center" >
  <div class="blur" style="background-image: url('assets/back.jpg');"></div>
  <div class="bg" ></div>
  <div class="container">
      <div class="bg1" style="background-image: url('assets/ba1.jpg');"></div>
      <div class="divRight" >
        <h1>AND ALWAYS REMEMBER</h1>
        <h1>TO HAVE FUN!</h1>
        <br>
        <p>Contrary to popular belief, Lorem Ipsum is not simply</p>
        <p> random text. It has roots in a piece of classical Latin</p>
        <p>literature from 45 BC, making it over 2000 years old.  </p>
        <br>
        <input class="button" type="button" value="SHOP">
        
      </div>
  </div>

</div>