<h5>Lifecycle Sequence</h5><hr/>
<section>
  <div class="lifecycle">Constructor()</div>
  <div class="lifecycle">ngOnChange()</div>
  <div class="lifecycle">ngOnInit()</div>
  <div class="lifecycle">ngDoCheck()</div>
  <div class="lifecycle">ngAfterContentInit()</div>
  <div class="lifecycle">ngAfterContentChecked()</div>
  <div class="lifecycle">ngAfterViewInit()</div>
  <div class="lifecycle">ngAfterViewChecked()</div>
  <div class="lifecycle">ngOnDestroy()</div>
</section>
<div class="setup"><br/><b>Example:- Given Number</b></div>
  <h1 class="punchline">{{ data }}</h1>
  <button type="button" class="btn btn-success" (click)="fnAddNumber()">Add Number</button>&nbsp;
  <button type="button" class="btn btn-danger" (click)="deleteNumber()">Subtract Number</button>