<nav aria-label="Page navigation example" *ngIf="pages > 1">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="{{baseUrl}}?page={{currentPage - 1}}" *ngIf="currentPage > 1" i18n>Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of rangePages">
      <a class="page-link" href="{{baseUrl}}?page={{page}}">{{page}} <span class="sr-only" *ngIf="currentPage == page">(current)</span></a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{baseUrl}}?page={{currentPage + 1}}" *ngIf="currentPage < pages" i18n>Next</a>
    </li>
  </ul>
</nav>
