<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header >
        <mat-panel-title>Form Controls</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/autocomplete'" class="sidenav-link">Autocomplete</a></p>
        <p><a mat-button [routerLink]="'/checkbox'" class="sidenav-link">Checkbox</a></p>
        <p><a mat-button [routerLink]="'/datepicker'" class="sidenav-link">Datepicker</a></p>
        <p><a mat-button [routerLink]="'/material-form'" class="sidenav-link">Material-Form</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>Data table</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/paginator'" class="sidenav-link">Paginator</a></p>
        <p><a mat-button [routerLink]="'/sort-header'" class="sidenav-link">Sort header</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>Layout</mat-panel-title>
            </mat-expansion-panel-header>
            <p><a mat-button [routerLink]="'/card'" class="sidenav-link">Card</a></p>
            <p><a mat-button [routerLink]="'/list'" class="sidenav-link">List</a></p>
            <p><a mat-button [routerLink]="'/tabs'" class="sidenav-link">Tabs</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>Buttons & Indicators</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/button'" class="sidenav-link">Button</a></p>
        <p><a mat-button [routerLink]="'/button-toggle'" class="sidenav-link">Button toggle</a></p>
        <p><a mat-button [routerLink]="'/badge'" class="sidenav-link">Badge</a></p>
        <p><a mat-button [routerLink]="'/chips'" class="sidenav-link">Chips</a></p>
        <p><a mat-button [routerLink]="'/progress-spinner'" class="sidenav-link">Progress spinner</a></p>
        <p><a mat-button [routerLink]="'/progress-bar'" class="sidenav-link">Progress bar</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>Popups & Modals</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/bottom-sheet'" class="sidenav-link">Bottom Sheet</a></p>
        <p><a mat-button [routerLink]="'/dialog'" class="sidenav-link">Dialog</a></p>
        <p><a mat-button [routerLink]="'/snackbar'" class="sidenav-link">Snackbar</a></p>
        <p><a mat-button [routerLink]="'/tooltip'" class="sidenav-link">Tooltip</a></p>
    </mat-expansion-panel>

</mat-accordion>
