<h1 class="mat-display-3" translate>Stark news</h1>
<h2 class="mat-display-1">Discover here the latest news about the Stark framework!</h2>

<news-item [release]="'1.1.0'" [newsDate]="'19/07/2018'">
	<div class="news-item-title">Stark News page is finally here! </div>
	<div class="news-item-content">
		The news page is there, get happy! <br>
		Below is an image of this first news displayed as a full example of the news-item component <br>
		<img class="first-news-image">
	</div>
</news-item>

<news-item [release]="'1.0.1'" [newsDate]="'19/08/2018'">
	<div class="news-item-title">This is another test of a news</div>
	<div class="news-item-content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> 
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br>
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
	</div>
</news-item>
