<div class="body">
  <div class="">
      <table>
          <div class="padding">
              <div class="color1">
                  <tr>
                    <th>CATEGORIES</th>
                    <th style="padding-left:65%;">INFO</th>
                    <th style="padding-left:145%;">HELP</th>
                    </tr>
                </div>
                <div class="color">
                    <tr>
                      <td style="padding-left:8%;"><a href="#">Literature</a></td>
                      <td style="padding-left:68%;"><a href="#">AboutUs</a></td>
                      <td style="padding-left:122%;"><a href="#">OrderStatus</a></td>
                      </tr> 
                  </div>
                  <div class="color">
                      <tr>
                        <td style="padding-left:6%;"><a href="#">Literature</a></td>
                        <td style="padding-left:53%;"><a href="#">Careers</a></td>
                        <td style="padding-left:85%;"><a href="#">ShippingandDelievery</a></td>
                        </tr>
                    </div>
                    <div class="color">
                        <tr>
                          <td style="padding-left:10%;"><a href="#">Literature</a></td>
                          <td style="padding-left:92%;"><a href="#">Press</a></td>
                          <td style="padding-left:185%;"><a href="#">Returns</a></td>
                          </tr>
                      </div>
                      <div class="color">
                          <tr>
                            <td style="padding-left:6%;"><a href="#">Literature</a></td>
                            <td style="padding-left:48%;"><a href="#">Sustainability</a></td>
                            <td style="padding-left:83%;"><a href="#">PaymentOptions</a></td>
                            </tr>
                        </div>
                        <div class="color">
                            <tr>
                              <td style="padding-left:8.5%;"><a href="#">Literature</a></td>
                              <td style="padding-left:75%;"><a href="#">Affiliates</a></td>
                              <td style="padding-left:140%;"><a href="#">ContactUs</a></td>
                              </tr>
                          </div>
       
          </div>
      </table>
  </div>
</div>