<h5>Angular - Observables<hr/></h5>
<p>Observables provide support for passing messages between publishers and subscribers in application.</p>
<ul>
  <li><code>Observable.subscribe()</code>: The observable subscribe method is used by angular components to subscribe to messages that are sent to an observable.</li>
  <li><code>observer.next()</code>: [<i>Required</i>] The next method is used to send messages to an observable which are then sent to all angular components that are subscribers of that observable.</li>
  <li><code>observer.error()</code>: [<i>Optional</i>] A handler for an error notification</li>
  <li><code>observer.complete()</code>: [<i>Optional</i>] A handler for the execution-complete notification</li>
</ul>
<h5>RxJS Operators<hr/></h5>
<ul>
  <li><code>map()</code></li>
  <li><code>pipe()</code></li>
  <li><code>filter()</code></li>
  <li><code>concat()</code></li>
  <li><code>share()</code></li>
  <li><code>retry()</code></li>
  <li><code>catchError()</code></li>
  <li><code>switchMap()</code></li>
  <li><code>flatMap()</code></li>
</ul>

<h5>Angular 7 - HttpClient with RxJS Observable Example<hr/></h5>
 <div class="container">
<table class="table table-bordered">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.id }}</td>
    <td>{{ employee.name }}</td>
    <td>{{ employee.email }}</td>
  </tr>
  </tbody>
</table>
</div>
