ul {
  max-width: 500px;
  color: #333;
  list-style: none;
  margin: 50px auto;
  padding: 10px;
}

.list li {
  padding: 25px;
  background: #fafaaf;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
