<table class="table table-dark table-bordered table-responsive marginBottomZero">
  <thead>
    <tr>
      <th class="smallWidth"><input type="checkbox"></th>
      <th>Name</th>
      <th>Episodes</th>
      <th>Genre</th>
      <th>Rating</th>
      <th>Popularity</th>
      <th class="mediumWidth">Add</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let anime of allAnimes">
      <td><input type="checkbox"></td>
      <td>{{ anime.name }}</td>
      <td>{{ anime.episodes }}</td>
      <td>{{ anime.genre }}</td>
      <td>{{ anime.rating }}</td>
      <td>{{ anime.popularity }}</td>
      <td>
          <div>
              <div class="posRelative">
                  <button class="dropdown-toggle custom-dropdown threeDotButton" type="button" 
                          id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fa fa-ellipsis-v"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li (click)="toggleLike(anime);">
                          <a href="javascript:;">
                            <i class="fa" [ngClass]="{ 'fa-heart': anime.isLiked, 'fa-heart-o': !anime.isLiked  }"></i> 
                            {{ anime.isLiked ? "Dislike" : "Like" }}
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </td>
    </tr>
  </tbody>
</table>
