<h1 class="mat-display-3" translate>SHOWCASE.DEMO.SLIDER.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML', 'SCSS', 'TS']" filesPath="slider/simple-horizontal-slider" exampleTitle="SHOWCASE.DEMO.SLIDER.SIMPLE_HORIZONTAL_SLIDER">
		<div>
			<stark-slider [values]="simpleHorizontalSliderValues" sliderId="simple-horizontal-slider" [sliderConfig]="simpleHorizontalSliderConfig"
			 [isDisabled]="!isSimpleHorizontalSliderEnabled" (changed)="onChangeSimpleHorizontalSlider($event)">
			</stark-slider>
			<div>
				<mat-checkbox class="slider-enabled-field" (change)="$event ? toggleSimpleHorizontalSliderEnable() : null"
				 [checked]="isSimpleHorizontalSliderEnabled">
					{{ 'SHOWCASE.COMMON.ENABLED' | translate }}
				</mat-checkbox>
				<mat-form-field class="slider-value-field">
					<input matInput placeholder="{{ 'SHOWCASE.COMMON.VALUE' | translate }}" type="number" step="10" [(ngModel)]="valueForSimpleHorizontalSlider"
					 [disabled]="!isSimpleHorizontalSliderEnabled" (change)="onChangeValueForSimpleHorizontalSlider($event)">
				</mat-form-field>
			</div>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'SCSS', 'TS']" filesPath="slider/horizontal-range-slider" exampleTitle="SHOWCASE.DEMO.SLIDER.HORIZONTAL_RANGE_SLIDER">
		<div>
			<stark-slider [values]="horizontalRangeSliderValues" sliderId="horizontal-range-slider" [sliderConfig]="horizontalRangeSliderConfig"
			 [isDisabled]="!isHorizontalRangeSliderEnabled" (changed)="onChangeHorizontalRangeSlider($event)">
			</stark-slider>
			<div>
				<mat-checkbox class="slider-enabled-field" (change)="$event ? toggleHorizontalRangeSliderEnable() : null" [checked]="isHorizontalRangeSliderEnabled">
					{{ 'SHOWCASE.COMMON.ENABLED' | translate }}
				</mat-checkbox>
				<mat-form-field class="slider-value-field">
					<input matInput placeholder="{{ 'SHOWCASE.COMMON.VALUE' | translate }} 1" type="number" step="10" [(ngModel)]="lowerValueForHorizontalRangeSlider"
					 [disabled]="!isHorizontalRangeSliderEnabled" (change)="onChangeValueForHorizontalRangeSlider($event, SLIDER_HANDLES.lower)">
				</mat-form-field>
				<mat-form-field class="slider-value-field">
					<input matInput placeholder="{{ 'SHOWCASE.COMMON.VALUE' | translate }} 2" type="number" step="10" [(ngModel)]="upperValueForHorizontalRangeSlider"
					 [disabled]="!isHorizontalRangeSliderEnabled" (change)="onChangeValueForHorizontalRangeSlider($event, SLIDER_HANDLES.upper)">
				</mat-form-field>
			</div>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'SCSS', 'TS']" filesPath="slider/simple-vertical-slider" exampleTitle="SHOWCASE.DEMO.SLIDER.SIMPLE_VERTICAL_SLIDER">
		<div>
			<stark-slider [values]="simpleVerticalSliderValues" sliderId="simple-vertical-slider" [sliderConfig]="simpleVerticalSliderConfig"
			 [isDisabled]="!isSimpleVerticalSliderEnabled" (changed)="onChangeSimpleVerticalSlider($event)">
			</stark-slider>
			<div>
				<mat-checkbox class="slider-enabled-field" (change)="$event ? toggleSimpleVerticalSliderEnable() : null" [checked]="isSimpleVerticalSliderEnabled">
					{{ 'SHOWCASE.COMMON.ENABLED' | translate }}
				</mat-checkbox>
				<mat-form-field class="slider-value-field">
					<input matInput placeholder="{{ 'SHOWCASE.COMMON.VALUE' | translate }}" type="number" step="10" [(ngModel)]="valueForSimpleVerticalSlider"
					 [disabled]="!isSimpleVerticalSliderEnabled" (change)="onChangeValueForSimpleVerticalSlider($event)">
				</mat-form-field>
			</div>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'SCSS', 'TS']" filesPath="slider/vertical-range-slider" exampleTitle="SHOWCASE.DEMO.SLIDER.VERTICAL_RANGE_SLIDER">
		<div>
			<stark-slider [values]="verticalRangeSliderValues" sliderId="vertical-range-slider" [sliderConfig]="verticalRangeSliderConfig"
			 [isDisabled]="!isVerticalRangeSliderEnabled" (changed)="onChangeVerticalRangeSlider($event)">
			</stark-slider>
			<div>
				<mat-checkbox class="slider-enabled-field" (change)="$event ? toggleVerticalRangeSliderEnable() : null" [checked]="isVerticalRangeSliderEnabled">
					{{ 'SHOWCASE.COMMON.ENABLED' | translate }}
				</mat-checkbox>
				<mat-form-field class="slider-value-field">
					<input matInput placeholder="{{ 'SHOWCASE.COMMON.VALUE' | translate }} 1" type="number" step="10" [(ngModel)]="lowerValueForVerticalRangeSlider"
					 [disabled]="!isVerticalRangeSliderEnabled" (change)="onChangeValueForVerticalRangeSlider($event, SLIDER_HANDLES.lower)">
				</mat-form-field>
				<mat-form-field class="slider-value-field">
					<input matInput placeholder="{{ 'SHOWCASE.COMMON.VALUE' | translate }} 2" type="number" step="10" [(ngModel)]="upperValueForVerticalRangeSlider"
					 [disabled]="!isVerticalRangeSliderEnabled" (change)="onChangeValueForVerticalRangeSlider($event, SLIDER_HANDLES.upper)">
				</mat-form-field>
			</div>
		</div>
	</example-viewer>
</section>
