/* ============================================================================== */
/*  S t a r k   A p p   S i d e b a r                                             */
/* ============================================================================== */
/* stark-ui: src/modules/app-sidebar/components/_app-sidebar.component.scss */

.stark-app-sidebar {
  .mat-sidenav-content {
    margin-top: $stark-header-size;
    [stark-app-sidenav-content] {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .mat-sidenav-container {
    min-height: calc(100% - #{$stark-footer-size});
  }

  .mat-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stark-app-sidenav-left {
    width: 200px;
  }
  .stark-app-sidenav-right {
    width: 300px;
  }
  .stark-app-sidenav-menu {
    margin-top: $stark-header-size;
    width: 200px;
  }
}

@media #{$tablet-query} {
  .stark-app-sidebar {
    .stark-app-sidenav-menu,
    .mat-sidenav-content {
      margin-top: $stark-header-size-desktop;
    }
  }
}

/* END stark-ui: src/modules/app-sidebar/components/_app-sidebar.component.scss */
