<h5>Angular 7 - Drag and Drop<hr /></h5>
<p>
  The <code>@angular/cdk/drag-drop</code> module provides you with a way to easily and
  declaratively create drag-and-drop interfaces, with support for free dragging,
  sorting within a list, transferring items between lists, animations, touch
  devices, custom drag handles, previews, and placeholders, in addition to
  horizontal lists and locking along an axis.
</p>
<p>
   By importing <code>DragDropModule</code> into the NgModule where you want to use drag-and-drop features. 
   You can now add the <code>cdkDrag</code> directive to elements to make them draggable. 
</p>
<div class="example-boundary">
  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
    I can only be dragged within the dotted container
  </div>
</div>
