<h5>Angular 7 - Async-Await Promise <hr/></h5>

<ul>
  <li>Promise Addition Result: <b>{{additionPromiseResult}}</b></li>
  <li>Async Addition Result: <b>{{additionAsyncResult}}</b></li>
  <li>Subscribe Result: <b>{{subscribeResult | json}}</b></li>
  <li>Promise Result: <b>{{promiseResult | json}}</b></li>
  <li>Async Result: <b>{{asyncResult | json}}</b></li>
  <li>Conditional Promise Result: <b>{{conditionalPromiseResult | json}}</b></li>
</ul>


<!-- 
subscribeResult: Employee;
promiseResult: Employee;
asyncResult: Employee; -->