<form #registerForm="ngForm" (ngSubmit)="onSave()" ngNativeValidate>
  <app-user-info-edit [userInfo]="student"></app-user-info-edit>

  <div class="form-group">
    <label for="birthDate" i18n>Birth Date</label>
    <input type="date" class="form-control" id="birthDate" i18n-placeholder placeholder="Birth Date" required [(ngModel)]="student.birthDate"
      [ngModelOptions]="{standalone: true}">
  </div>

  <button i18n type="submit" class="btn btn-primary" >Save</button>
  <a i18n href="/home" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
  <h1>{{registerForm.$valid}}</h1>
</form>
