<h1 class="mat-display-3" translate>SHOWCASE.DEMO.LANGUAGE_SELECTOR.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML']" filesPath="language-selector/dropdown" [exampleTitle]="'SHOWCASE.DEMO.LANGUAGE_SELECTOR.DROPDOWN' | translate">
		<stark-language-selector mode="dropdown"></stark-language-selector>
	</example-viewer>

	<example-viewer [extensions]="['HTML']" filesPath="language-selector/toolbar" [exampleTitle]="'SHOWCASE.DEMO.LANGUAGE_SELECTOR.TOOLBAR' | translate">
		<stark-language-selector mode="toolbar"></stark-language-selector>
	</example-viewer>
</section>
