@import "~normalize.css/normalize.css";

html,
body {
  height: 100%;
}

.stark-app {
  visibility: visible;
  /* class added by translate-cloak directive while loading translations */
  &.translate-cloak {
    visibility: hidden;
  }
}

.stark-section {
  margin-bottom: 64px;
}

.stark-header-container {
  padding: 0 15px;
}

.stark-main-container {
  align-self: stretch;
  padding: 64px 15px;
}

.stark-basic-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  box-shadow: $elevation-4;

  th {
    font-size: mat-font-size($typography-config, subheading-2);
    font-weight: mat-font-weight($typography-config, subheading-2);
    line-height: mat-line-height($typography-config, subheading-2);
    padding: 13px 32px;
    text-align: left;
  }

  td {
    padding: 8px 16px;
  }
}

@media screen {
  .stark-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    &:not(.stark-init) {
      overflow-y: hidden;
    }
    & .content-wrapper {
      flex: 1;
      display: flex;
      overflow-y: hidden;
      position: relative;
    }
    & .stark-app-menu {
      display: flex;
      flex-direction: column;
    }
    & main {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      & > ui-view {
        flex: 1 0 auto;
        padding: 16px;
      }
    }
  }
}

@media #{$tablet-query} {
  .stark-main-container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

// We want to keep at least 70px horizontal padding for the main content, therefore we add 140px to the media query
@media screen and (min-width: 1100px) {
  .stark-main-container {
    align-self: center;
    width: $stark-max-content-width;
  }
}

/********** COLORS **********/
body {
  background-color: $offwhite;
  color: $primary-dark-text-color;
}

a {
  color: $md-primary-700;
}

/* utility class to fill to max. size in flex systems */
.flex-fill {
  flex: 1;
}

td {
  background: #fff;
  border-bottom: solid 1px #fafafa;
}

@media screen and (max-width: 1230px) {
  .stark-header-extra,
  .stark-page-header-actions {
    margin-right: 15px;
  }

  .stark-header-container,
  .stark-fixed-header-container .stark-generic-search .stark-generic-search-container .stark-header-container,
  .stark-table-action-bar-container {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* stark session ui pages */
.stark-session-ui-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  max-width: 100%;
  width: 500px;
  overflow: hidden;
  border: solid 1px $divider-color;
  box-shadow: $elevation-2;
  & header {
    padding: 16px;
    background: mat-color(map-get($base-theme, primary-palette), 900) url(/assets/images/app-header.png) top right no-repeat;
    border-radius: 2px 2px 0 0;
    & i {
      margin: auto;
      display: block;
      width: 220px;
      height: 77px;
      background: url("/assets/images/logo/logo-nbb-en.gif") no-repeat;
    }
  }
  & content {
    display: block;
    padding: 16px;
    background: #fff;
  }
}

.stark-loading {
  margin: 16px auto;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.stark-loading-icon {
  margin: 0 auto 8px auto;
  display: block;
  width: 64px;
  height: 64px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDUwIDUwIj48cGF0aCBmaWxsPSIjN2ZiYWUzIiBkPSJNMjUuMjUxLDYuNDYxYy0xMC4zMTgsMC0xOC42ODMsOC4zNjUtMTguNjgzLDE4LjY4M2g0LjA2OGMwLTguMDcxLDYuNTQzLTE0LjYxNSwxNC42MTUtMTQuNjE1VjYuNDYxeiI+PC9wYXRoPjwvc3ZnPg==");
  /*	Base64 created from SVG on this site: http://www.opinionatedgeek.com/DotNet/Tools/Base64Encode/	and from this source:
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" x="0" y="0" viewBox="0 0 50 50"><path fill="#7fbae3" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"></path></svg>
    */
  fill: currentColor;
  transform-origin: 50% 50%;
  animation: spin 0.8s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
