$mat-light-theme-background: $backgrounds;
$mat-light-theme-foreground: $foregrounds;

@if variable-exists(stark-accent-palette) {
  $accent-palette: map-merge($accent-palette, $stark-accent-palette);
}

@if variable-exists(stark-alert-palette) {
  $alert-palette: map-merge($alert-palette, $stark-alert-palette);
}

@if variable-exists(stark-grey-palette) {
  $grey-palette: map-merge($grey-palette, $stark-grey-palette);
}

@if variable-exists(stark-primary-palette) {
  $primary-palette: map-merge($primary-palette, $stark-primary-palette);
}

@if variable-exists(stark-success-palette) {
  $success-palette: map-merge($success-palette, $stark-success-palette);
}

@if variable-exists(stark-warning-palette) {
  $warning-palette: map-merge($warning-palette, $stark-warning-palette);
}

$base-theme: (
  primary-palette: mat-palette($primary-palette),
  accent-palette: mat-palette($accent-palette),
  warn-palette: mat-palette($warning-palette)
);

$material-theme: mat-light-theme(
  map-get($base-theme, primary-palette),
  map-get($base-theme, accent-palette),
  map-get($base-theme, warn-palette)
) !default;
@include angular-material-theme($material-theme);
