<div class="page_admin-computers-list-item flex-container flex-justify-space-around">
    <div class="page_admin-computers-list-item--title  flex-grid-2" routerLink="/catalog/{{item._id}}">
        {{item.brand}} {{item.title}}
    </div>
    <div class="page_admin-computers-list-item--price  flex-grid-1">{{item.price}}</div>
    <div class="page_admin-computers-list-item--date   flex-grid-1">{{item.date | date}}</div>
    <div class="page_admin-computers-list-item--edit   flex-grid-1">
        <i class="fa fa-pencil" style="cursor: pointer;" routerLink="/admin/edit/{{item._id}}"></i>
    </div>
    <div class="page_admin-computers-list-item--remove flex-grid-1">
        <i class="fa fa-times ui red"  style="cursor: pointer;" (click)="removeStoreItem()"></i></div>
</div>