.page_catalog-list-item-header {

}
.page_catalog-list-item-header:hover{
    color: #f0ad4e !important;
}
.page_catalog-list-item--description p{
}
.page_catalog-list-item--image {

}
.page_catalog-list-item--image img {
    max-width: 100%;
    height: 180px;
}
.page_catalog-list-item--price{
    color: #70727F;
}
.page_catalog-list-item--more {
    cursor: pointer;
}
.page_catalog-list-item--more:active {

}
.page_catalog-list-item--add {
    cursor: pointer;
}
.page_catalog-list-item--add:active {


}