@import '~scss/variables';

#headerImage {
  height: inherit;
  display: inline-block;
  width: 50px;
  height: 50px;
}

// navigation section

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
    background-color: $black;
    border: 0px;
    font-size: 13px;
    letter-spacing: 4px;
    opacity: 0.9;

    .navbar-header {
      .headerMain {
        font-size: 15px !important;
        display: inline-block;
        margin-top:10px !important;
      }
    }
    
    li { 
      a {
          color: $white;
          &:hover {
            color: $dimGrey !important;
          }
          &:focus {
            background-color: $black;
          }
      }
      &.active {
        color: $dimGrey !important;
        background-color: $black !important;  
      }
    }
  
    .navbar-brand {
      color: $white;
      @media only screen and (max-width: 768px) {
        font-size: 14px !important;
      }
    }
  
    .navbar-right {
      @media only screen and (max-width: 768px) {
        font-size: 12px !important;
        margin-right: 0px !important;
      }
    }

    .navbar-toggle {
      border-color: transparent;
    }
  
    .dropdown-menu {
      font-size: 13px !important;
      background-color: $black !important;
    }
    
}
  
  // navigation section end