/********** PAGINATION **********/
/* stark: src/modules/pagination/components/_pagination.component.scss */
.stark-pagination > div {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 18px;
    padding: 0;
  }
  .pagination-enter-page {
    display: none;
  }

  .pagination-items-per-page {
    .stark-dropdown .mat-form-field {
      width: 50px;
    }
  }

  .page-numbers {
    display: none;
  }
}

@media #{$tablet-query} {
  .stark-pagination > div {
    font-size: mat-font-size($typography-config, caption);
    font-weight: mat-font-weight($typography-config, caption);
    line-height: mat-line-height($typography-config, caption);

    .pagination-enter-page {
      align-items: center;
      display: flex;
      margin-right: 40px;
      & input {
        margin-right: 4px;
        width: 26px;
        height: 24px;
        padding: 4px;
        border-radius: 2px;
        text-align: center;
      }
    }

    .page-numbers {
      cursor: pointer;
      display: flex;
      a {
        color: inherit;
        padding: 15px;
        opacity: 0.5;
      }
    }

    &.compact {
      .pagination-enter-page {
        margin-right: 5px;
      }
    }
  }
}

/* END stark: src/modules/pagination/components/_pagination.component.scss */
