<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Email</th>
      <th scope="col" i18n>Full Name</th>
      <th scope="col" i18n>Gender</th>
      <th scope="col" i18n>Account Verified</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parentUser of parentUsers">
      <td>{{parentUser.email ? parentUser.email: ''}}</td>
      <td>{{parentUser.parents ? parentUser.parents.firstName : ''}} {{parentUser.parents ? parentUser.parents.lastName : ''}}</td>
      <td>{{parentUser.parents ? parentUser.parents.gender : ''}}</td>
      <td>{{parentUser?.emailVerified ? 'Si' : 'No'}}</td>
      <td>
        <a class="btn btn-outline-info btn-space" href="parent-management/{{parentUser.parents.id}}"  *ngIf="parentUser.parents">
          <span class="fa fa-info-circle" aria-hidden="true"></span>
          <span class="small" i18n>  More details</span>
        </a>
        <button type="button" class="btn btn-outline-danger btn-space" *ngIf="parentUser.parents">
          <span class="fa fa-trash" aria-hidden="true"></span>
          <span class="small" i18n>  Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="parent-management" [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
