.mat-menu-content .mat-menu-item {
  color: mat-color(map-get($base-theme, primary-palette));
  .mat-icon {
    color: inherit;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &[disabled] {
    color: map-get($mat-light-theme-foreground, disabled-button);
  }
}

/* TODO: This code should be moved when the app menu is implemented */
stark-app-sidebar {
  .stark-app-sidenav-menu {
    background-color: #16385a;
    .mat-nav-list {
      padding-top: 0;
      .mat-list-item {
        color: #fff;
        font-size: 13px;
        &:hover a {
          background-color: rgba($color: #fff, $alpha: 0.3);
        }
      }
      .mat-list-item-focus.active,
      a.active {
        background-color: rgba($color: #fff, $alpha: 0.4);
      }
    }
  }
}
