<ng-template #modalContent let-close="close">
  <div [ngSwitch]="currentAction">
    <div  *ngSwitchCase="'Clicked'">
      <div class="modal-header">
        <h5 class="modal-title" i18n>Announcement Details</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="currentAnnouncement.id.startsWith('CF-')" class="form-group">
          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" i18n>Course(s) which received this announcement</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let course of currentAnnouncement.courseMultiSelect; let i = index" >
              <th scope="row">{{ i+1 }}</th>
              <td>{{ course.itemName }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <label for="title-ro" i18n>Title</label>
          <input [readonly]="true" type="text" class="form-control" id="title-ro"
                 i18n-placeholder placeholder="Data retrieval error" name="title"
                 [value]="currentAnnouncement?.title">
        </div>
        <div class="form-group">
          <label for="description-ro" i18n>Description</label>
          <textarea [readonly]="true" rows="2" class="form-control" id="description-ro"
                    i18n-placeholder placeholder="Data retrieval error" name="description"
                    [value]="currentAnnouncement.description ? currentAnnouncement.description : ''"></textarea>
        </div>
        <div class="form-group">
          <label for="startDate-ro" i18n>Start Date</label>
          <input [readonly]="true" type="text" class="form-control" id="startDate-ro" name="startDate"
                 i18n-placeholder placeholder="Data retrieval error" [value]="currentAnnouncement?.startDate | date ">
        </div>
        <div class="form-group">
          <label for="endDate-ro" i18n>End Date</label>
          <input [readonly]="true" type="text" class="form-control" id="endDate-ro" name="endDate"
                 i18n-placeholder placeholder="Data retrieval error" [value]="currentAnnouncement?.endDate | date ">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" i18n class="btn btn-outline-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</ng-template>

<app-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</app-calendar-header>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="weekStartsOn"
    [weekendDays]="weekendDays"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)">
  </mwl-calendar-week-view>
</div>

