:root {
  --my-color: #00f;
}

div {
  .mat-card-title {
    color: #000;
    size: 120%;
  }
}

.news-page-header {
  margin-bottom: 15px;
}

.mat-header-image {
  background-image: url("/assets/images/app-icons/favicon-32x32.png");
  background-size: cover;
}

@media #{$desktop-query} {
  .first-news-image {
    background-image: url("/assets/images/screenshots/showcase-screenshot.png");
    margin: 8px;
    background-size: cover;
    width: 700px;
    height: 370px;
  }
}

@media #{$tablet-only-query} {
  .first-news-image {
    background-image: url("/assets/images/screenshots/showcase-screenshot.png");
    margin: 8px;
    background-size: cover;
    width: 400px;
    height: 280px;
  }
}

@media #{$mobile-only-query} {
  .first-news-image {
    background-image: url("/assets/images/screenshots/showcase-screenshot.png");
    margin: 3px;
    background-size: cover;
    width: 200px;
    height: 150px;
  }
}
