<h5>Angular - Dependency Injection<hr/></h5>
<p>Dependency-Injection is typically used in the design of Angular applications to increase their efficiency and modularity. 
   Dependencies are services or objects that a class needs to perform its function. DI is a coding pattern in which a class 
   asks for dependencies from external sources rather than creating them itself.</p>

<h5><br/>Calculator Example<hr/></h5>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <label for="First name">Enter a first number: </label>
            <input type="number" #num1 class="form-control" >
          </div>
          <div class="form-group">
            <label for="First name">Enter a second number: </label>
            <input type="number" #num2 class="form-control" >
          </div>
        <button class="btn btn-primary" type="submit" (click)="add(num1.value, num2.value)">Calculate</button>
      </div>
    </div>
    <div><br/>Result: {{result}}</div>
</div>
