<h1 class="mat-display-3" translate>SHOWCASE.DEMO.LANGUAGE_SELECTOR.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML']" filesPath="logout/logout-default" exampleTitle="SHOWCASE.DEMO.LOGOUT.LOGOUT_DEFAULT_ICON">
		<stark-app-logout></stark-app-logout>
	</example-viewer>

	<example-viewer [extensions]="['HTML']" filesPath="logout/logout-logout" exampleTitle="SHOWCASE.DEMO.LOGOUT.LOGOUT_CUSTOM_ICON">
		<stark-app-logout icon="logout"></stark-app-logout>
	</example-viewer>
</section>
