/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.bold {
  font-weight:bold;
}

.btn-space {
  margin-right: 5px;
}

/*Styles for navigation tabs*/

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover,.nav-tabs .nav-link.active:focus{
  background-color: #19a3b8;
  color:white;
  font-size:100%;
  font-weight:bold;
  border-color:black;
  border-bottom-color:transparent;
}

.nav-tabs .nav-link, .nav-tabs .nav-link:focus{
  background-color: powderblue;
  color:#19a3b8;
  font-size:100%;
  font-weight:bold;
  border-color:#19a3b8;
  margin-right:1px;
  margin-left:1px;
}

.nav-tabs .nav-link:hover{
  background-color:lightcyan;
}

.nav-tabs {
  border-bottom:1px solid #19a3b8;
}

/*Styles for table headers*/
.table .thead-dark th {
  background-color:powderblue !important;
  font-size:95% !important;
  color:#19a3b8 !important;
  border-bottom: none;
}

.table tbody td {
  font-size:95% !important;
}


