<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Add Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-course-add-admin [courseInfo]="newCourse"></app-course-add-admin>
  <div class="modal-footer">
    <button i18n type="submit" class="btn btn-primary" (click)="saveCourse(); c('Close click');">Save</button>
  </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Edit Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-course-add-admin [courseInfo]="editCourse"></app-course-add-admin>
  <div class="modal-footer">
    <button i18n type="submit" class="btn btn-primary" (click)="updateCourse(); c('Close click');">Save</button>
  </div>
</ng-template>

<button i18n class="btn btn-primary" (click)="open(content)">Add</button>

<div class="form-group">
  <label for="search" i18n>Search by Course name</label>
  <input type="text" (keyup.enter)="search()" class="form-control" id="search" i18n-placeholder placeholder="Search" value="Data"
    required [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
</div>
<table class="table table-hover table-sm">
  <tr class="thead-dark">
    <th scope="col" i18n>Course Name</th>
    <th scope="col" i18n>Is Archived</th>
    <th scope="col" i18n>Details</th>
    <th scope="col" i18n>Actions</th>
  </tr>
  <tr *ngFor="let course of courseList">
    <td>{{course.name}}</td>
    <td>{{course.isArchived}}</td>
    <td>{{course.details}}</td>
    <td>
      <a class="btn btn-outline-info btn-space" href="course-list-admin/{{course.id}}">
        <span class="fa fa-info-circle" aria-hidden="true"></span>
        <span class="small" i18n>  More details</span>
      </a>
      <button type="button" class="btn btn-outline-secondary btn-space" (click)="openEdit(course, contentEdit)">
        <span class="fa fa-edit" aria-hidden="true"></span>
        <span class="small" i18n>  Edit</span>
      </button>
      <button type="button" class="btn btn-outline-danger btn-space" (click)="removeCourse(course.id)">
        <span class="fa fa-trash" aria-hidden="true"></span>
        <span class="small" i18n>  Delete</span>
      </button>
    </td>
  </tr>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="course-list-admin" [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
