<dl>
  <dt i18n>First Name</dt>
  <dd>{{student?.firstName}}</dd>
  <dt i18n>Last Name</dt>
  <dd>{{student?.lastName}}</dd>
</dl>

<hr>

<button i18n class="btn btn-primary" (click)="open(content)">Assign Courses</button>

<p class="h6 my-3"><u><ng-container i18n>Courses assigned to this student:</ng-container></u></p>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Name</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of assignedCourses">
      <td>{{course.course.name}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-space" (click)="removeCourse(course.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
          <span class="small" i18n>  Delete Association</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<button i18n class="btn btn-primary" (click)="open(content2)">Assign Parent</button>

<p class="h6 my-3"><u><ng-container i18n>Parent(s) related to this student:</ng-container></u></p>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Full Name</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parent of aParents">
      <td>{{parent.parent?.firstName}} {{parent.parent?.lastName}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-space" (click)="removeParent(parent.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
          <span class="small" i18n>  Delete Relationship</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Assign Courses</h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span i18n class="bold">Available Courses</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item"
             *ngFor="let course of availableCourses">{{course.course?.name}}
              <button type="button" class="btn btn-outline-primary btn-sm pull-right" (click)="addCourse(course)">
                <span class="fa fa-arrow-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <span i18n class="bold">Assigned Courses</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item"
             *ngFor="let assigCourse of assignedCourses">
              <button type="button" class="btn btn-outline-primary btn-sm pull-left" (click)="removeCourse(assigCourse.id)">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
              </button> &nbsp; &nbsp;
              {{assigCourse.course.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Assign Parents</h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span i18n class="bold">Available Parents</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item"
             *ngFor="let parent of availableParents">{{parent.parents?.firstName}} {{parent.parents?.lastName}}
              <button type="button" class="btn btn-outline-primary btn-sm pull-right" (click)="addParent(parent)">
                <span class="fa fa-arrow-right" aria-hidden="true"></span>
              </button>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <span i18n class="bold">Assigned Parents</span>
          <ul class="list-group list-group-flush more-space">
            <li class="list-group-item"
             *ngFor="let aParent of aParents">
              <button type="button" class="btn btn-outline-primary btn-sm pull-left" (click)="removeParent(aParent.id)">
                <span class="fa fa-arrow-left" aria-hidden="true"></span>
              </button> &nbsp; &nbsp;
              {{aParent.parent?.firstName}} {{aParent.parent?.lastName}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

