<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <h1>Angular Material</h1>
    <span class="menu-spacer"></span>
    <div class="header-toolbar">
      <a mat-button [routerLink]="'/accounts'" class="header-toolbar-link"> Item-1 </a>
      <a mat-button [routerLink]="'/create-account'" class="header-toolbar-link"> Item-2 </a>
      <a mat-button [routerLink]="'/log-out'" class="header-toolbar-link"> Log Out </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true" disableClose="true">
      
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Section 1</mat-panel-title>
            </mat-expansion-panel-header>
              <p>Link 1</p>
              <p>Link 2</p>
              <p>Link 3</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Section 2
              </mat-panel-title>
              
            </mat-expansion-panel-header>
              <p>Link 1</p>
              <p>Link 2</p>
              <p>Link 3</p>
          </mat-expansion-panel>
        </mat-accordion>

  </mat-drawer>

  <div class="sidenav-content">
    Dashboard 
  </div>

</mat-drawer-container>

<router-outlet></router-outlet>
