<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <h1>Angular Material</h1>
    <span class="menu-spacer"></span>
    <div class="header-toolbar">
      <a mat-button [routerLink]="'/accounts'" class="header-toolbar-link"> Item-1 </a>
      <a mat-button [routerLink]="'/create-account'" class="header-toolbar-link"> Item-2 </a>
      <a mat-button [routerLink]="'/log-out'" class="header-toolbar-link"> Log Out </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true" disableClose="true">
      
    <div class="page">
          <div class="page__sidebar">    
            <mat-accordion multi="true" displayMode="flat">
              <mat-expansion-panel
                *ngFor="let panel of config.panels">
        
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ panel.name }}</mat-panel-title>
                  <mat-panel-description>{{ panel.description }}</mat-panel-description>
                </mat-expansion-panel-header>
        
                <!--<p>Panel content goes here</p>-->
                <app-widget-container
                  [selector]="panel.component.selector"
                  [settings]="panel.component.settings">
                </app-widget-container>
        
              </mat-expansion-panel>
            </mat-accordion>
        
          </div>
        
          <div class="page__content">
          </div>
        </div>
        
    
  </mat-drawer>

  <div class="sidenav-content">
    Dashboard 
  </div>

</mat-drawer-container>

<router-outlet></router-outlet>
