.fact-scroll-viewport {
  height: 100%;
  width: 100%;
}

.fact-item {
  height: 100px;
  display: flex;

  .fact-date {
    height: 100%;
    min-width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 24pt;
  }

  .fact-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}

cdk-virtual-scroll-viewport {
  border: 1px solid black;

  li {
    list-style: none;
  }
}
