ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
    
li {
    float: left;
    width: 150px;
    margin-right: 5px;
    padding: 2px;
    border: 1px #ffb366 solid;
    background-color: #fffdee;
    text-align: center;
}
.mat-button {
  min-width: 100%;
}