<!-- The double curly braces are Angular's interpolation binding syntax -->
<h1>{{title}}</h1>
<nav>
    <!-- links to the dashboard and items view -->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/items">Items</a>
</nav>

<!-- the app items view is shown by <app-items></app-items> -->

<!-- the router-outlet tells the router where to display routed views -->
<!-- depending on the route specified the router outlet is replaced by
     the corresponding template from the correct commponent -->
<router-outlet></router-outlet>
<app-messages></app-messages>
