<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Add School Year</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-year-add-admin [schoolYearInfo]="newSchoolYear"></app-year-add-admin>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="submit" class="btn btn-primary" (click)="saveSchoolYear(); c('Close click');">Save</button>
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Edit School Year</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-year-add-admin [schoolYearInfo]="editSchoolYear"></app-year-add-admin>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="submit" class="btn btn-primary" (click)="updateSchoolYear(); c('Close click');">Save</button>
  </div>
</ng-template>


<button i18n class="btn btn-primary" (click)="open(content)">Add</button>

<div class="form-group">
  <label for="search" i18n>Search By School Year</label>
  <input type="text" (keyup.enter)="search()" class="form-control" id="search" i18n-placeholder placeholder="Search"
    value="Data" required [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
</div>
<table class="table table-hover table-sm">
  <tr class="thead-dark">
    <th scope="col" i18n>Name</th>
    <th scope="col" i18n>Start Date</th>
    <th scope="col" i18n>End Date</th>
    <th scope="col" i18n>Actions</th>
  </tr>
  <tr *ngFor="let schoolYear of schoolYearList">
    <td>{{schoolYear.year}}</td>
    <td>{{schoolYear.startDate | date}}</td>
    <td>{{schoolYear.endDate | date}}</td>
    <td>
      <a class="btn btn-outline-info btn-space" href="years/{{schoolYear.id}}">
        <span class="fa fa-info-circle" aria-hidden="true"></span>
        <span class="small" i18n>  More details</span>
      </a>
      <button type="button" class="btn btn-outline-secondary btn-space" (click)="openEdit(schoolYear, contentEdit)">
        <span class="fa fa-edit" aria-hidden="true"></span>
        <span class="small" i18n>  Edit</span>
      </button>
      <button type="button" class="btn btn-outline-danger btn-space" (click)="removeYear(schoolYear.id)">
        <span class="fa fa-trash" aria-hidden="true"></span>
        <span class="small" i18n>  Delete</span>
      </button>
    </td>
  </tr>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="years" [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
