<div class="catalog-item-preview">
    <h2 class="catalog-item-preview--title">{{title}}</h2>
    <div  class="catalog-item-preview--image">
        <img src={{image}}/>
    </div>
    <p class="catalog-item-preview--description">{{description}}</p>
    <p class="catalog-item-preview--brand"><strong><i>Brand: </i></strong> {{brand}}</p>
    <p class="catalog-item-preview--price"><strong><i>Price: </i></strong> {{price | currency}} </p>
    <div class="catalog-item-preview--details">
        <strong><i>Details: </i></strong>
        <br/>
        <ul>
            <li class="catalog-item-preview--details-detail" *ngFor="let detail of details">{{detail}}</li>
        </ul>
    </div>
    <p class="catalog-item-preview--date"><strong><i>Added: </i></strong> {{date | date}}</p>
    <a class="catalog-item-preview--back ui button" routerLink="/catalog"><i class="fa fa-undo"></i> Back to catalog</a>
</div>

