<div style="background-color: WHITE;" class="background">
<div class="row">
    <div class="column" >
        <img src="assets/cart.svg" class="svgFrame1">
        <h1>YOUR CART</h1>
        <p>This is a descriptive text of what this</p>
        <p>title may be trying to say</p>
    </div>
    <div class="column" >
        <img src="assets/truck.svg" class="svgFrame1">
        <h1>FREE DELIVERY</h1>
        <p>This is a descriptive text of what this</p>
        <p>title may be trying to say</p>
    </div>
    <div class="column" >
        <img src="assets/wallet.svg" class="svgFrame1">
        <h1>YOUR WALLET</h1>
        <p>This is a descriptive text of what this</p>
        <p>title may be trying to say</p>
    </div>
</div>
</div>