<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <ng-container i18n>Previous</ng-container>
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <ng-container i18n>Today</ng-container>
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <ng-container i18n>Next</ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale}}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="viewChange.emit('week')"
        [class.active]="view === 'week'">
        <ng-container i18n>Week</ng-container>
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit('month')"
        [class.active]="view === 'month'">
        <ng-container i18n>Month</ng-container>
      </div>
    </div>
  </div>
</div>
<br>
