<h1 class="mat-display-3" translate>SHOWCASE.DEMO.EXAMPLE_VIEWER.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer filesPath="test" exampleTitle="Example Viewer">
		<h3>Raised Buttons</h3>
		<div class="button-row">
			<button mat-raised-button>Basic</button>
			<button mat-raised-button color="primary">Primary</button>
			<button mat-raised-button color="accent">Accent</button>
			<button mat-raised-button color="warn">Warn</button>
			<button mat-raised-button disabled>Disabled</button>
			<a mat-raised-button routerLink=".">Link</a>
		</div>
	</example-viewer>
</section>
