<h1 class="mat-display-2" translate>SHOWCASE.DEMO.PAGINATION.TITLE</h1>
<section class="stark-section">
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="pagination/simple-config"
					exampleTitle="SHOWCASE.DEMO.PAGINATION.SIMPLE_CONFIGURATION">
		<stark-pagination htmlSuffixId="pagination-simple-config" [paginationConfig]="paginationSimpleConfig"
						  (paginated)="onPaginationChange($event, 'simple')">
		</stark-pagination>
		<div *ngIf="paginateEventSimple">
			<p>{{ 'SHOWCASE.DEMO.PAGINATION.EMITTED_PAGINATE_EVENT' | translate }}:</p>
			<stark-pretty-print [data]="paginateEventSimple" format="json"
								[enableHighlighting]="true"></stark-pretty-print>
		</div>
	</example-viewer>
</section>

<section class="stark-section">
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="pagination/extended-config"
					exampleTitle="SHOWCASE.DEMO.PAGINATION.EXTENDED_CONFIGURATION">
		<stark-pagination htmlSuffixId="pagination-extended-config" [paginationConfig]="paginationExtendedConfig"
						  (paginated)="onPaginationChange($event, 'extended')">
		</stark-pagination>
		<div *ngIf="paginateEventExtended">
			<p>{{ 'SHOWCASE.DEMO.PAGINATION.EMITTED_PAGINATE_EVENT' | translate }}:</p>
			<stark-pretty-print [data]="paginateEventExtended" format="json"
								[enableHighlighting]="true"></stark-pretty-print>
		</div>
	</example-viewer>
</section>

<section class="stark-section">
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="pagination/advanced-config"
					exampleTitle="SHOWCASE.DEMO.PAGINATION.ADVANCED_CONFIGURATION">
		<stark-pagination htmlSuffixId="pagination-advanced-config" [paginationConfig]="paginationAdvancedConfig"
						  (paginated)="onPaginationChange($event, 'advanced')">
		</stark-pagination>
		<div *ngIf="paginateEventAdvanced">
			<p>{{ 'SHOWCASE.DEMO.PAGINATION.EMITTED_PAGINATE_EVENT' | translate }}:</p>
			<stark-pretty-print [data]="paginateEventAdvanced" format="json"
								[enableHighlighting]="true"></stark-pretty-print>
		</div>
	</example-viewer>
</section>

<section class="stark-section">
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="pagination/compact-config"
					exampleTitle="SHOWCASE.DEMO.PAGINATION.COMPACT_CONFIGURATION">
		<stark-pagination htmlSuffixId="pagination-compact-config" mode="compact"
						  [paginationConfig]="paginationCompactConfig"
						  (paginated)="onPaginationChange($event, 'compact')">
		</stark-pagination>
		<div *ngIf="paginateEventCompact">
			<p>{{ 'SHOWCASE.DEMO.PAGINATION.EMITTED_PAGINATE_EVENT' | translate }}:</p>
			<stark-pretty-print [data]="paginateEventCompact" format="json"
								[enableHighlighting]="true"></stark-pretty-print>
		</div>
	</example-viewer>
</section>
