/* ============================================================================== */
/*  S t a r k   A p p   F o o t e r                                               */
/* ============================================================================== */
/* stark-ui: src/modules/app-footer/components/_app-footer.component.scss */

@mixin stark-app-footer-color($color_high, $color_low) {
  .stark-app-footer-container {
    background: rgba($color: $color_low, $alpha: 1);
    color: rgba($color: $color_high, $alpha: 0.7);
    a {
      display: inline-block;
      color: rgba($color: $color_high, $alpha: 0.7);
    }
  }
}

.stark-app-footer {
  @include stark-app-footer-color(mat-color($grey-palette, A100), mat-color($grey-palette, 800));
}

/* end stark-ui: src/modules/app-footer/components/_app-footer.component.scss */
