<h1 class="mat-display-3" translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML', 'TS']" filesPath="keyboard-directives/on-enter-key-directive" exampleTitle="SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.TITLE">
		<form class="on-enter-key-directive-form">
			<p translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.DESCRIPTION</p>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.INPUT_WITH_CONTEXT</mat-label>
				<input name="test" [(ngModel)]="inputValue1" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.TYPE_AND_PRESS_ENTER' | translate }}"
				 [starkOnEnterKey]="onEnterKeyCallback.bind(this)" [starkOnEnterKeyParams]="['input1', inputValue1, 123, { prop: 'someValue' }]">
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.INPUT_WITHOUT_CONTEXT</mat-label>
				<input name="test" [(ngModel)]="inputValue2" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.TYPE_PRESS_ENTER_AND_CHECK_CONSOLE' | translate }}"
				 [starkOnEnterKey]="onEnterKeyCallback" [starkOnEnterKeyParams]="['input2', inputValue2, 123, { prop: 'someValue' }]">
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.INPUT_WITHOUT_CONTEXT_ALTERNATIVE
				</mat-label>
				<input name="test" [(ngModel)]="inputValue3" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.ON_ENTER_KEY.TYPE_AND_PRESS_ENTER' | translate }}"
				 [starkOnEnterKey]="onEnterKeyCallback" [starkOnEnterKeyParams]="['input3', inputValue3, 123, { prop: 'someValue' }, this]">
			</mat-form-field>
		</form>
		<label>Logging:</label>
		<pre><code>{{ logging }}</code></pre>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'TS']" filesPath="keyboard-directives/restrict-input-directive" exampleTitle="SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.TITLE">
		<form class="restrict-input-directive-form">
			<p translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.DESCRIPTION</p>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.INPUT_ONLY_NUMBERS</mat-label>
				<input name="test" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.TYPE_A_VALUE' | translate }}"
				 starkRestrictInput="\d">
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.INPUT_ALPHANUMERICAL_CHARACTERS
				</mat-label>
				<input name="test" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.TYPE_A_VALUE' | translate }}"
				 starkRestrictInput="^[A-Za-z0-9]*$">
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.INPUT_NO_SPECIAL_CHARACTERS
				</mat-label>
				<input name="test" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.TYPE_A_VALUE' | translate }}"
				 starkRestrictInput="\w">
			</mat-form-field>
			<mat-form-field>
				<mat-label translate>SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.INPUT_UPPERCASE_CHARACTERS</mat-label>
				<input name="test" matInput placeholder="{{ 'SHOWCASE.DEMO.KEYBOARD_DIRECTIVES.RESTRICT_INPUT.TYPE_A_VALUE' | translate }}"
				 starkRestrictInput="^[A-Z]*$">
			</mat-form-field>
		</form>
	</example-viewer>
</section>
