<div class="row">
    <div *ngFor="let product of products">
        <div class="col-xs-4 padding-10">
            <md-card class="card-container-phone">
                <md-card-header>
                    <div md-card-avatar class="example-header-image"></div>
                    <md-card-title>
                        <span class="badge">{{product.id}}</span> <strong>{{product.name}}</strong>    
                    </md-card-title>
                </md-card-header>

                <img width="220" height="220" class="image-align-center padding-bottom-10" src={{product.src}} />
                <md-card-content>
                <p>{{product.info}}</p>
                </md-card-content>
                <md-card-actions>
                    <div style="display: flex">
                        <span class="padding-right-5">Quantity: </span>
                        <input type="number" [(ngModel)]="quantity">
                    </div>
                    <h1 class="badge">${{product.price}}</h1>
                    <button (click)="addToCart(product)" class="btn btn-sm btn-primary">Add to Cart</button>
                    <button (click)="clickedProduct(product)" class="btn btn-sm btn-success">Details</button>
                </md-card-actions>
            </md-card>
        </div>

        <!--<div class="col-xs-4">
            <div class="thumbnail product">
                <img width="250" height="250" src={{product.src}} />
                <span class="badge">{{product.id}}</span> <strong>{{product.name}}</strong>
                <p>{{product.info}}</p>
                <h1 class="badge">${{product.price}}</h1>
                <button (click)="addToCart(product)" class="btn btn-sm btn-primary">Add to Cart</button>
                <button (click)="clickedProduct(product)" class="btn btn-sm btn-success">Details</button>
            </div>
        </div>-->
    </div>
</div>
