<dl>
  <dt i18n>Course</dt>
  <dd>{{courseYear.course?.name}}</dd>
  <dt i18n>Details</dt>
  <dd>{{courseYear.course?.details}}</dd>
</dl>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Student Name</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.student ? student.student.firstName : ''}} {{student.student ? student.student.lastName : ''}}</td>
      <td>
        <a class="btn btn-outline-info btn-space" href="teacher-course-list/{{courseId}}/teacher-student-home/{{student.student?.id}}">
          <span class="fa fa-info-circle" aria-hidden="true"></span>
          <span class="small" i18n>  More details</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
