.page_cart-title {
    text-align: center;
    padding: 15px 0;
    color: #f0ad4e;
}
.page_cart-total {
    text-align: center;
    margin-top: 25px;
}
.page_cart-total:hover {

}
.page_cart--items {
    max-width: 500px;
    margin: 0 auto;
}
.page_cart--item{
    padding: 20px !important;
    margin: 30px 20px !important;
    background: white !important;
    border-radius: 10px !important;
}
.ui.divided.items>.item:first-child{
    padding-top: 20px!important;
}
.ui.divided.items>.item:last-child{
    padding-bottom: 20px!important;
}
