.page_admin {
    text-align: center;
    color: white;
}
.page_admin-title {
    padding: 15px 0;
    color: #f0ad4e;
}
.page_admin-computers-list {
    padding: 0 5px;
}

.page_admin-computers-list-header div:first-child {
    text-align: left;
}
.page_admin-computers-list-item div, .page_admin-computers-list-header div{
    outline: 1px solid #fff;
    padding: 15px;
}
.page_admin-computers-list-header {
    background: #1B1C1D;
}
.page_admin-computers-list-header div{
    outline: 2px solid #fff;
}
.page_admin-computers-list-item div:first-child {
    text-align: left;
}
.page_admin--add-new-button {
    margin-top: 30px;
}
.page_admin-add,
.page_admin-edit {
    text-align: center;
}
.page_admin-add-title,
.page_admin-edit-title {
    padding: 15px 0;
    color: #f0ad4e;
}
.page_admin-add--button-confirm,
.page_admin-edit--button-confirm {
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background: #f0ad4e;
    color: #fff;
    -webkit-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s ease-in;
    margin: 0 0 25px 10px ;
    width: 80px;
    padding: 14px 0;
    display: inline-block;
}
.page_admin-add--button-confirm:active,
.page_admin-edit--button-confirm:active {
    box-shadow: none;
}
.page_admin-add--button-cancel,
.page_admin-edit--button-cancel {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #f0ad4e;
    color: #fff;
    -webkit-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s ease-in;
    margin: 0 0 25px 10px ;
    width: 50px;
    display: inline-block;
}
.page_admin-add--button-cancel:hover,
.page_admin-edit--button-cancel:hover {
    box-shadow: none;
}