
<div class="form-group">
  <label for="yearName" i18n>Name</label>
  <input type="text" class="form-control" id="yearName" i18n-placeholder placeholder="School Year Name" value="Data" required [(ngModel)]="schoolYearInfo.year"
    [ngModelOptions]="{standalone: true}">
</div>

<div class="form-group">
  <label for="startDate" i18n>startDate</label>
  <input type="date" class="form-control" id="startDate" i18n-placeholder placeholder="startDate" value="Data" required (ngModelChange)="schoolYearInfo.startDate = $event"
     [ngModel]="schoolYearInfo.startDate | date:'yyyy-MM-dd'">
</div>

<div class="form-group">
  <label for="endDate" i18n>endDate</label>
  <input type="date" class="form-control" id="endDate" i18n-placeholder placeholder="endDate" value="Data" required (ngModelChange)="schoolYearInfo.endDate = $event"
    [ngModel]="schoolYearInfo.endDate | date:'yyyy-MM-dd'">
</div>

