<div class="margin">
    <div  class="width center widget">
        <div style="background-image: url('assets/last.jpg');" class="blur"></div>
        <div class="text center">
            <h1>LET IT BE AWESOME</h1>
            <p>Take control of you business with this fashion template. Remember, YOU </p>
            <p>have the power to make your business what you want it to be. You CAN </p>
            <p>create a business you love.</p>
            <p>Tomorrow starts today!</p>
          </div>
          
        </div>
        <div style="background-image: url('assets/white.jpg');">
        
        </div >
</div>