.width{
    height: 600px;
    width: 100%;
    background-size: 100% 100% ;
    margin-top: 165% !important;
}
.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  .blur {
    background : no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    /* filter: blur(5px); */
    position: absolute;
    height: 600px;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px !important;
  }
  .widget {
    border-top: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  .text {
    margin-top: 5%;
  }
  
  .text h1 {
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    color: #ffffff;
    margin:auto;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 38px !important;
  }
  
  .text p {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-top: 0px;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 22px;
  }
 