<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Add Student</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-user-info-edit [userInfo]="newStudent"></app-user-info-edit>
          <div class="form-group">
            <label for="birthDate" i18n>Birth Date</label>
            <input type="date" class="form-control" id="birthDate" i18n-placeholder placeholder="Birth Date" required [(ngModel)]="newStudent.birthDate"
              [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button i18n type="submit" class="btn btn-primary" (click)="saveStudent(); c('Close click');">Save</button>
  </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Edit Student</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-user-info-edit [userInfo]="editStudent"></app-user-info-edit>

  <div class="form-group">
    <label for="birthDate" i18n>Birth Date</label>
    <input type="date" class="form-control" id="birthDate" i18n-placeholder placeholder="Birth Date" required [(ngModel)]="editStudent.birthDate"
      [ngModelOptions]="{standalone: true}">
  </div>

  <div class="modal-footer">
    <button i18n type="submit" class="btn btn-primary" (click)="updateStudent(); c('Close click');">Update</button>
  </div>
</ng-template>

<button i18n class="btn btn-primary" (click)="open(content)">Add</button>

<div class="form-group">
  <label for="search" i18n>Search by Name</label>
  <input type="text" (keyup.enter)="search()" class="form-control" id="search" i18n-placeholder placeholder="Search" value="Data"
    required [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
</div>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th i18n scope="col" colspan="2">Full Name</th>
      <th i18n scope="col" colspan="2">Gender</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td colspan="2">{{student.firstName}} {{student.lastName}}</td>
      <td colspan="2">{{student.gender}}</td>
      <td>
        <a class="btn btn-outline-info btn-space" href="student-management/{{student.id}}">
          <span class="fa fa-info-circle" aria-hidden="true"></span>
          <span class="small" i18n>  More details</span>
        </a>
        <button type="button" class="btn btn-outline-secondary btn-space" (click)="openEdit(student, contentEdit)">
          <span class="fa fa-edit" aria-hidden="true"></span>
          <span class="small" i18n>  Edit</span>
        </button>
        <button type="button" class="btn btn-outline-danger btn-space" (click)="removeStudent(student.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
          <span class="small" i18n>  Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="student-management" [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
