.page_admin-computers-list-item div {
    outline: 1px solid #fff;
    padding: 15px;
}
.page_admin-computers-list-item div:first-child {
    text-align: left;
}
.page_admin-computers-list-item--title{
    cursor: pointer;
}