<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Parent Invite</h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <input type="email" i18n-placeholder placeholder="email@gmail.com"
          [(ngModel)]="parentInfo.email" [ngModelOptions]="{standalone: true}" #invite="ngModel"
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
          <button i18n type="submit" class="btn btn-primary" (click)="inviteParent()" 
            [disabled]="invite.errors?.required || invite.errors?.pattern">Invite</button>
        </div>
        <app-user-invite-list [users]="parents"></app-user-invite-list>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<button i18n class="btn btn-primary" (click)="open(content1)">Invite Parent</button>
<app-parent-list></app-parent-list>
