/* ============================================================================== */
/*  S t a r k   L a n g u a g e   S e l e c t o r                                 */
/* ============================================================================== */
/* stark: src/modules/language-selector/components/_language-selector.component.scss */

.stark-language-selector {
  &.stark-full-width {
    .stark-dropdown {
      .mat-form-field {
        width: 100%;
      }
    }
  }
}

/* END stark: src/modules/language-selector/components/_language-selector.component.scss */
