<h3>Drag & Drop<hr/></h3>
<mat-tab-group>
  <mat-tab label="Basic Drag & Drop"> Content 1 </mat-tab>
  <mat-tab label="Sorting"> Content 2 </mat-tab>
  <mat-tab label="Connected sorting"> Content 3 </mat-tab>
  <mat-tab label="With a handle"> Content 4 </mat-tab>
  <mat-tab label="Custom preview"> Content 5 </mat-tab>
  <mat-tab label="Custom placeholer"> Content 6 </mat-tab>
  <mat-tab label="Horizontal Sorting"> Content 7 </mat-tab>
  <mat-tab label="Boundary"> Content 8 </mat-tab>
  <mat-tab label="Position Locking"> Content 9 </mat-tab>
  <mat-tab label="With alternate root element"> Content 10 </mat-tab>
  <mat-tab label="Enter Predicate"> Content 11 </mat-tab>
</mat-tab-group>
