/* ============================================================================== */
/*  S t a r k   D a t e   R a n g e   P i c k e r                                 */
/* ============================================================================== */
/* stark-ui: src/modules/date-range-picker/components/date-range-picker/_date-range-picker.component.scss */

.stark-date-range-picker stark-date-picker:first-child {
  margin-right: 16px;
}

/* END stark-ui: src/modules/date-range-picker/components/date-range-picker/_date-range-picker.component.scss */
