<stark-app-container>
	<stark-app-sidebar>
		<ng-container stark-app-sidenav-menu>
			<mat-nav-list class="nav-main">
				<a mat-list-item uiSref="home" uiSrefActive="active">
					<span matLine translate>STARTER.MENU.HOME</span>
				</a>
				<a mat-list-item uiSref="about" [uiParams]="{ paramData: 'data passed via params' }" uiSrefActive="active">
					<span matLine translate>STARTER.MENU.ABOUT</span>
				</a>
			</mat-nav-list>
		</ng-container>
		<div stark-app-sidenav-content>
			<header class="stark-app-header">
				<div class="stark-header-container">
					<div class="stark-app-bar">
						<div class="stark-app-bar-content-left">
							<div class="stark-actions">
								<button class="stark-home-button" (click)="goHome()" color="white" mat-icon-button>
									<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
								</button>
								<button color="white" mat-icon-button (click)="openMenu()">
									<mat-icon starkSvgViewBox svgIcon="menu"></mat-icon>

								</button>
							</div>
						</div>
						<div class="stark-app-bar-content-center">
							<div class="app-logo">
								<stark-app-logo></stark-app-logo>
							</div>
						</div>
						<div class="stark-app-bar-content-right">
							<div>
								<div class="app-data">
									<p>App Data</p>
								</div>
								<button class="app-data-alt" color="white" mat-icon-button
										[matTooltip]="'STARK.ICONS.APP_DATA' | translate">
									<mat-icon starkSvgViewBox svgIcon="dots-vertical"></mat-icon>
								</button>
								<stark-app-logout></stark-app-logout>
							</div>
							<div class="stark-app-bar-content-right-center">
								<stark-language-selector color="white" class="stark-full-width"
														 mode="dropdown"></stark-language-selector>
							</div>
							<div class="stark-app-bar-content-right-actions-alt">
								<button mat-mini-fab color="success" [matTooltip]="'STARK.ICONS.ADD_ITEM' | translate">
									<mat-icon starkSvgViewBox svgIcon="plus"></mat-icon>
								</button>
								<button mat-mini-fab color="primary" [matTooltip]="'STARK.ICONS.SEARCH' | translate">
									<mat-icon starkSvgViewBox svgIcon="magnify"></mat-icon>
								</button>
							</div>
						</div>

						<div class="stark-app-bar-page-title">
							<h1>{{ name }}</h1>
						</div>
					</div>
				</div>
			</header>
			<div class="stark-main-container">
				<main>
					<ui-view></ui-view>
				</main>
			</div>
		</div>
	</stark-app-sidebar>
</stark-app-container>
