<!-- <canvas #canvas></canvas> -->
<form nz-form class="login-form" #form="ngForm">
  <h1>CMS</h1>
  <nz-form-item>
    <nz-form-control [nzValidateStatus]="Name.control">
      <nz-input-group nzPrefixIcon="anticon anticon-user">
        <input type="text" nz-input required [(ngModel)]="userInfo.username" #Name="ngModel" placeholder="Username" name="username"/>
      </nz-input-group>
      <nz-form-explain *ngIf="Name.dirty&&Name.invalid">Please enter your username!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzValidateStatus]="Pwd.control">
      <nz-input-group nzPrefixIcon="anticon anticon-lock">
        <input type="password" nz-input required [(ngModel)]="userInfo.password" #Pwd="ngModel" placeholder="Password" name="password"/>
      </nz-input-group>
      <nz-form-explain *ngIf="Pwd.dirty&&Pwd.invalid">Please enter the password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox>
        <span>Remember me</span>
      </label>
      <!-- <a class="login-form-forgot" class="login-form-forgot">忘记密码</a> -->
      <button nz-button class="login-form-button" nzType="primary" nzSize="large" (click)="login()" [disabled]="form.invalid" [nzLoading]="loading">Login</button>
      <!-- <a href="">立即注册!</a> -->
    </nz-form-control>
  </nz-form-item>
</form>