.navbar {
    background-color: #406194;
}
.glyphicon {
    font-size: 30px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    color: white;
}

.navbar-default .navbar-brand {
    font-family: 'Pacifico', Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    color: white;
}