<form #registerForm="ngForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="email" i18n>Email</label>
    <input type="email" class="form-control" id="email" required [(ngModel)]="loginInfo.email" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="password" i18n>Password</label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="loginInfo.password" [ngModelOptions]="{standalone: true}">
  </div>

  <button type="submit" class="btn btn-primary" i18n>Sign In</button>
  <div class="alert alert-danger" role="alert" *ngIf="hasError">
    The username or password is incorrect
  </div>
</form>
