<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="courseName" i18n>Name</label>
          <input type="text" class="form-control" id="courseName" i18n-placeholder placeholder="Course Name" value="Data" required
            [(ngModel)]="courseInfo.name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="details" i18n>Details</label>
          <input type="text" class="form-control" id="details" i18n-placeholder placeholder="Details" value="Data" required [(ngModel)]="courseInfo.details"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>
  </div>
</div>