<h1 class="mat-display-3" translate>SHOWCASE.DEMO.PRETTY_PRINT.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.PRETTY_PRINT.TRY_IT_YOURSELF</h1>
	<mat-card>
		<form>
			<div class="pretty-print-input mb2">
				<mat-form-field>
					<textarea name="unformattedData" [(ngModel)]="unformattedData" matInput rows="10" [placeholder]="'SHOWCASE.DEMO.PRETTY_PRINT.ENTER_DATA' | translate">
				</textarea>
				</mat-form-field>
			</div>
			<div class="pretty-print-options mb1">
				<stark-dropdown dropdownId="dataFormatDropdown" [options]="dataFormats" [value]="selectedDataFormat" placeholder="SHOWCASE.DEMO.PRETTY_PRINT.SELECT_DATAFORMAT"
				 (dropdownSelectionChanged)="dataFormatDropdownOnChange($event)">
				</stark-dropdown>
				<mat-checkbox class="highlighting-enabled-field ml3" (change)="$event ? toggleHighlightingEnabled() : null"
				 [checked]="highlightingEnabled">
					{{ 'SHOWCASE.DEMO.PRETTY_PRINT.ENABLE_HIGHLIGHTING' | translate }}
				</mat-checkbox>
			</div>
			<div class="pretty-print-result">
				<stark-pretty-print [data]="unformattedData" [format]="selectedDataFormat" [enableHighlighting]="highlightingEnabled">
				</stark-pretty-print>
			</div>
		</form>
	</mat-card>
</section>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer *ngFor="let fileType of fileTypes; trackBy: trackFileTypes" [extensions]="['HTML', 'SCSS', 'TS']"
	 [filesPath]="fileType.path" [exampleTitle]="fileType.title">
		<mat-tab-group>
			<mat-tab [label]="'SHOWCASE.DEMO.PRETTY_PRINT.ORIGINAL_CODE'  | translate">
				<div class="code-block">{{ fileType.rawData }}</div>
			</mat-tab>
			<mat-tab [label]="'SHOWCASE.DEMO.PRETTY_PRINT.PRETTY_PRINTED' | translate">
				<div class="code-block">
					<stark-pretty-print [data]="fileType.rawData" [format]="fileType.format" [enableHighlighting]="false"></stark-pretty-print>
				</div>
			</mat-tab>
			<mat-tab [label]="'SHOWCASE.DEMO.PRETTY_PRINT.PRETTY_PRINTED_WITH_HIGHLIGHTING' | translate">
				<stark-pretty-print [data]="fileType.rawData" [format]="fileType.format" [enableHighlighting]="true"></stark-pretty-print>
			</mat-tab>
		</mat-tab-group>
	</example-viewer>
</section>
