example-viewer {
  .example-viewer-wrapper {
    background-color: #fff;
    .stark-pretty-print {
      pre[class*="language-"] {
        padding: 1em;
        margin: 0;
        border-radius: 0;
      }
    }
    .mat-tab-body-wrapper {
      border-bottom: 1px solid #555;
    }
  }
  .mat-tab-header {
    background-color: mat-color($mat-light-theme-background, card);
  }
  .mat-tab-body {
    background-color: #272822;
  }
  .example-source {
    border-bottom: 1px solid mat-color($mat-light-theme-foreground, divider);
    overflow-x: scroll;

    code {
      font-family: mat-font-family($typography-config);
      font-size: 15px;
      line-height: 24px;
    }
  }
}
