<h3>Virtual Scrolling <hr/></h3>
<cdk-virtual-scroll-viewport [itemSize] = "20">
  <table id="customers">
     <thead>
        <tr>
           <td>Sl. No</td>
           <td>Album Id</td>
           <td>Title</td>
           <td>URL</td>
           <td>ThumbnailUrl</td>
        </tr>
        <tr>
          <td colspan="5" id="progress-indicator"><mat-progress-bar mode="indeterminate"></mat-progress-bar></td>
        </tr>
     </thead>
     <tbody>
        <tr *cdkVirtualFor = "let item of albumdetails">
           <td>{{item.id}}</td>
           <td>{{item.albumId}}</td>
           <td>{{item.title}}</td>
           <td><img src = "{{item.url}}" width = "100" height = "100"/></td>
           <td><img src = "{{item.thumbnailUrl}}" width = "100" height = "100"/></td>
        </tr>
     </tbody>
  </table>
</cdk-virtual-scroll-viewport>