<div class="page_admin">
    <h1 class="page_admin-title">All computers in store:</h1>
    <div class="page_admin-computers-list">
        <div class="page_admin-computers-list-header flex-container flex-justify-space-around" *ngIf="!isEmptyStore()">
            <div class="page_admin-computers-list-item--title  flex-grid-2">Title</div>
            <div class="page_admin-computers-list-item--price  flex-grid-1">Price $</div>
            <div class="page_admin-computers-list-item--date   flex-grid-1">Added</div>
            <div class="page_admin-computers-list-item--edit   flex-grid-1">Edit computer</div>
            <div class="page_admin-computers-list-item--remove flex-grid-1">Remove computer</div>
        </div>
        <div>
            <h1 *ngIf="isEmptyStore()">There are no computers in the store!</h1>
            <store-item *ngFor="let storeItem of storeItems" (remove)="removeFromStore($event)" [item]="storeItem"></store-item>
        </div>
        <button class="page_admin--add-new-button ui button" routerLink="/admin/create"><i class="fa fa-plus"></i> Add new</button>
    </div>
</div>