<h1 class="mat-display-3" translate>SHOWCASE.DEMO.ACTION_BAR.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<div fxFlexLayout="column">
		<example-viewer [extensions]="['HTML', 'TS']" filesPath="action-bar/classic-full" exampleTitle="SHOWCASE.DEMO.ACTION_BAR.CLASSIC-FULL">
			<stark-action-bar actionBarId="classic-full" [actionBarConfig]="actionBarConfig" mode="full"></stark-action-bar>
		</example-viewer>


		<example-viewer  [extensions]="['HTML', 'TS']" filesPath="action-bar/classic-compact" exampleTitle="SHOWCASE.DEMO.ACTION_BAR.CLASSIC-COMPACT">
			<stark-action-bar actionBarId="classic-compact" [actionBarConfig]="actionBarConfig" mode="compact"></stark-action-bar>
		</example-viewer>

		<example-viewer  [extensions]="['HTML', 'TS']" filesPath="action-bar/alt" exampleTitle="SHOWCASE.DEMO.ACTION_BAR.ALT">
			<stark-action-bar actionBarId="alt" [actionBarConfig]="actionBarConfig" [alternativeActions]="alternativeActions"
			mode="compact"></stark-action-bar>
		</example-viewer>
	</div>
</section>
