<button i18n class="btn btn-primary" (click)="open(content)">Add Question</button>

<div id="accordion">
  <div class="card" *ngFor="let question of questions; let i = index">
    <div class="card-header" id="heading{{question.id}}">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" (click)="isCollapsedMap[i] = !isCollapsedMap[i]" data-toggle="collapse" attr.data-target="#collapse{{question.id}}"
          aria-expanded="true" attr.aria-controls="collapse{{question.id}}">
          <span>&#9733; <b>{{question.title}}</b> &#9733;</span>
        </button> <br>
        <small class="pull-left text-muted">
          <span class="glyphicon glyphicon-time"></span><ng-container i18n>Asked by: </ng-container>{{question.parent?.firstName}} {{question.parent?.lastName}} {{question.teacher?.firstName}} {{question.teacher?.lastName}}</small>
        <button type="button" class="pull-right close" (click)="removeQuestion(question.id)" *ngIf="rolesSvc.getTeacherParentId() === (question.parent?question.parent.id : question.teacher?.id)">&times;</button>
      </h5>
    </div>

    <div id="collapse{{question.id}}" [ngbCollapse]="isCollapsedMap[i]" class="collapse" attr.aria-labelledby="heading{{question.id}}"
     attr.data-parent="#accordion">
      <div class="card-body">
        <p>
          {{question.description}}
        </p>
        <ul class="chat" *ngFor="let answer of question.answers">
          <li class="left clearfix">
            <span class="chat-img pull-left">
              <img src="http://placehold.it/50/55C1E7/fff&text={{answer.parent?.firstName.substring(0, 1)}}{{answer.teacher?.firstName.substring(0, 1)}}" alt="User Avatar" class="img-circle" />
            </span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">{{answer.parent?.firstName}} {{answer.parent?.lastName}} {{answer.teacher?.firstName}} {{answer.teacher?.lastName}} </strong>

                <button type="button" class="pull-right close" *ngIf="rolesSvc.getTeacherParentId() === (answer.parent?answer.parent.id : answer.teacher?.id)" (click)="removeAnswer(question.id, answer.id)">&times;</button>
                <small class="pull-right text-muted">
                  <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
              </div>
              <p>
                {{answer.description}}
              </p>
            </div>
          </li>
        </ul>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input{{question.id}}" type="text" (keyup)="loadHasResponse(question.id, 'btn-input')"
            class="form-control input-sm" i18n-placeholder placeholder="Type your answer here..." required/>
            <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat"
                (click)="saveAnswer(question.id, 'btn-input')"
                 [disabled]="!hasResponse">
                <ng-container i18n>Response</ng-container>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Create question</h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title" i18n>Title</label>
            <input type="text" class="form-control" id="title" i18n-placeholder placeholder="Title" value="Data"
              required [(ngModel)]="newQuestion.title" [ngModelOptions]="{standalone: true}" #title="ngModel">
          </div>

          <div class="form-group">
            <label for="description" i18n>Description</label>
            <textarea type="text" class="form-control" id="description" i18n-placeholder placeholder="Description"
              value="Data" required [(ngModel)]="newQuestion.description" [ngModelOptions]="{standalone: true}"
              #description="ngModel"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button i18n type="button" class="btn btn-outline-primary" (click)="saveQuestion(); c('Close click')"
    [disabled]="title.errors?.required || description.errors?.required">Save</button>
  </div>
</ng-template>
