<main role="main">
    <section class="content listSection" style="
    background-image: url('https://pre00.deviantart.net/59bc/th/pre/i/2013/143/c/1/edo_minato_vs_edo_madara_by_lukebig-d666fxa.png');">  
       <h1 class="headerDecorator">{{ popularAnimeHeading }}</h1>    
    </section>
    <section role="section" class="lightGrey">            
        <div *ngFor="let anime of popularAnimes" class="col-md-3 textCenter">
            <div class="tp-box">
                <div class="tp-box__side">
                    <img src="{{ anime.imageUrl }}" alt="{{ anime.name }}" class="inheritHeightWidth">
                    <div class="animeLike" (click)="toggleLike(anime);">                       
                        <!-- <i class="fa fa-heart-o"> </i> Like -->
                        <i class="fa" [ngClass]="{ 'fa-heart': anime.isLiked, 'fa-heart-o': !anime.isLiked  }"></i> 
                            {{ anime.isLiked ? "UnLike" : "Like" }}
                    </div> 
                </div> 
                <h4 class="animeName"> {{anime.name}} </h4>                
            </div>
        </div>              
    </section>   
</main>