@import '~scss/variables';

.content {
  background-attachment: fixed;
}

.lightGrey {
  background-color: silver;
}

.animeLike {
  background-color: lightgrey; 
  color: black; 
  position:absolute; 
  z-index:100; 
  width: inherit;
}

.animeName {
  color:black; 
  margin-top:20px;
}

// animation css end