/* ============================================================================== */
/*  S t a r k   P r e l o a d i n g   P a g e                                     */
/* ============================================================================== */
/* stark-ui: src/modules/session-ui/pages/preloading/_preloading-page.component.scss */

.stark-preloading-page {
  & .stark-session-ui-page {
	margin: 16px auto;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
  }
}

/* END stark-ui: src/modules/session-ui/pages/preloading/_preloading-page.component.scss */
