@import '~scss/variables';

.table-dark {
    table-layout: fixed;
    word-wrap: break-word;
    color: $white;
    text-align: center;
    background-color: $black;
    thead {
      tr {
        th {
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: $dimGrey !important;
        }
      }  
    } 
}

.smallWidth {
  width: 30px;
}

.mediumWidth {
  width: 50px;
}

.dropdown-menu {
  min-width: 0px !important;
}

.threeDotButton {
  padding: 0px 10px !important; 
  margin-top: -5px; 
  font-size: 13px !important; 
  line-height: 1 !important; 
  height: 28px !important; 
  background-color: #000000 !important;
}