/* ============================================================================== */
/*  S t a r k   B r e a d c r u m b                                               */
/* ============================================================================== */
/* stark-ui: src/modules/breadcrumb/components/breadcrumb/breadcrumb.component.scss */
.stark-breadcrumb {
  display: none;
}

@media #{$tablet-query} {
  .stark-breadcrumb {
    display: block;
    padding-left: 8px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    a {
      cursor: pointer;
      display: inline-block;
      padding: 0 6px;
      color: $tertiary-dark-text-color;
      font-style: italic;
      text-decoration: none;
      font-size: 12px;
      &:hover {
        color: $md-primary;
      }
    }
    span:first-child a {
      padding-left: 0;
    }
  }
}

@media #{$desktop-query} {
  .stark-breadcrumb {
    margin-bottom: 20px;
    font-size: 18px;
    a {
      cursor: pointer;
      font-size: 13px;
      padding: 0 10px;
    }
  }
}

/* END stark-ui: src/modules/breadcrumb/components/breadcrumb/breadcrumb.component.scss */
