<div>
	<div nz-form>
    <div nz-row style="margin-bottom: 20px;">
      <div nz-col nzSpan="18">
        <label>访问来源</label>
      </div>
      <div nz-col nzSpan="6">
        <nz-select style="width:100%" [(ngModel)]="source" (ngModelChange)="changedSource()">
          <nz-option
            *ngFor="let type of sourceType"
            [nzLabel]="type.name"
            [nzValue]="type.value">
          </nz-option>
        </nz-select>
      </div>
      <!-- <div nz-col [nzSm]="20" class="text-center">
        全国各省访问量地图
      </div>
      <div nz-col [nzSm]="4">
        <nz-select style="min-width:120px" nzPlaceHolder="选择来源" nzAllowClear [(ngModel)]="source" nzSize="large">
          <nz-option
            *ngFor="let type of sourceType"
            [nzLabel]="type.name"
            [nzValue]="type.value">
          </nz-option>
        </nz-select>
      </div> -->
    </div>
    <div nz-row>
      <div nz-col [nzSm]="24">
        <div class="chart-dash-wrap">
          <div class="chart-content" #systemChina></div>
        </div>
      </div>
    </div>
  </div>
</div>