<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="container">

  <ul class="nav nav-tabs" *ngIf="rolesSvc.isAdmin()">
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/parent-management" routerLinkActive="active">Parents</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/teacher-management" routerLinkActive="active">Teachers</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/student-management" routerLinkActive="active">Students</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/years" routerLinkActive="active">Years</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/course-list-admin" routerLinkActive="active">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ann-list-admin" routerLinkActive="active"><ng-container i18n>Announcements</ng-container> </a>
    </li>
  </ul>

  <ul class="nav nav-tabs" *ngIf="rolesSvc.isTeacher()">
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/teacher-course-list" routerLinkActive="active">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/announcements-teacher-home" routerLinkActive="active"><ng-container i18n>Announcements</ng-container> </a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/teacher-questions" routerLinkActive="active">Questions</a>
    </li>
  </ul>

  <ul class="nav nav-tabs" *ngIf="rolesSvc.isParent()">
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/children" routerLinkActive="active">Sons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/announcements-parent-home" routerLinkActive="active"><ng-container i18n>Announcements</ng-container> </a>
    </li>
    <li class="nav-item">
      <a i18n class="nav-link" routerLink="/questions" routerLinkActive="active">Questions</a>
    </li>
  </ul>

  <simple-notifications></simple-notifications>

  <div class="my-2" name="div-spacer"></div>
  <breadcrumb [allowBootstrap]="true"></breadcrumb>
  <div class="my-2" name="div-spacer"></div>

  <router-outlet></router-outlet>

</div>
