/* ============================================================================== */
/*  S t a r k   S e s s i o n   L o g o u t   P a g e                             */
/* ============================================================================== */
/* stark-ui: src/modules/session-ui/pages/session-logout/_session-logout-page.component.scss */

.stark-session-logout-page {
  & .stark-session-ui-page {
	margin: 16px auto;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
  }
}

/* END stark-ui: src/modules/session-ui/pages/session-logout/_session-logout-page.component.scss */
