<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-submenu [(nzOpen)]="isOpen.one" (nzOpenChange)="openChange('one')">
    <span title><i class="anticon anticon-appstore"></i> 博客管理</span>
    <ul>
      <li nz-menu-item [routerLink]="['/article']" routerLinkActive="active">文章列表</li>
      <li nz-menu-item [routerLink]="['/articletype']" routerLinkActive="active">文章类型</li>
      <li nz-menu-item [routerLink]="['/tag']" routerLinkActive="active">标签管理</li>
      <li nz-menu-item [routerLink]="['/user']" routerLinkActive="active">用户管理</li>
      <li nz-menu-item [routerLink]="['/comment']" routerLinkActive="active">评论管理</li>
    </ul>
  </li>
  <li nz-submenu [(nzOpen)]="isOpen.two" (nzOpenChange)="openChange('two')">
    <span title><i class="anticon anticon-calculator"></i> 日志管理</span>
    <ul>
      <li nz-menu-item [routerLink]="['/systemlog']" routerLinkActive="active">系统日志</li>
    </ul>
  </li>
  <li nz-submenu [(nzOpen)]="isOpen.three" (nzOpenChange)="openChange('three')">
    <span title><i class="anticon anticon-line-chart"></i> 图表管理</span>
    <ul>
      <li nz-menu-item [routerLink]="['/charts']" routerLinkActive="active">图表统计</li>
    </ul>
  </li>
  <li nz-submenu [(nzOpen)]="isOpen.four" (nzOpenChange)="openChange('four')">
    <span title><i class="anticon anticon-smile-o"></i> 无聊集锦</span>
    <ul>
      <li nz-menu-item [routerLink]="['/doubleball']" routerLinkActive="active">双色球</li>
    </ul>
  </li>
  <li nz-submenu [(nzOpen)]="isOpen.five" (nzOpenChange)="openChange('five')">
    <span title><i class="anticon anticon-bulb"></i> 测试</span>
    <ul>
      <li nz-menu-item [routerLink]="['/demos']" routerLinkActive="active">测试用例</li>
    </ul>
  </li>
</ul>
