<h1 class="mat-display-3" translate>SHOWCASE.DEMO.BREADCRUMB.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>

	<example-viewer [extensions]="['HTML', 'TS']" filesPath="breadcrumb/breadcrumb-config-input" exampleTitle="SHOWCASE.DEMO.BREADCRUMB.CONFIG_INPUT">
		<stark-breadcrumb [breadcrumbConfig]="breadcrumbConfig">
		</stark-breadcrumb>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'TS']" filesPath="breadcrumb/breadcrumb-no-input" exampleTitle="SHOWCASE.DEMO.BREADCRUMB.NO_INPUT">
		<stark-breadcrumb>
		</stark-breadcrumb>
	</example-viewer>
</section>
