# Auto detect text files and perform LF normalization
* text=auto

#
# The above will handle all files NOT found below
#

# Documents
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.md text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.sql text
*.cs -text=auto diff=csharp
*.vb -text=auto
*.c -text=auto
*.cpp -text=auto
*.cxx -text=auto
*.h -text=auto
*.hxx -text=auto
*.py -text=auto
*.rb -text=auto
*.java -text=auto
*.html -text=auto
*.htm -text=auto
*.css -text=auto
*.scss -text=auto
*.sass -text=auto
*.less -text=auto
*.js -text=auto
*.ts -text=auto
*.lisp -text=auto
*.clj -text=auto
*.sql -text=auto
*.php -text=auto
*.lua -text=auto
*.m -text=auto
*.asm -text=auto
*.erl -text=auto
*.fs -text=auto
*.fsx -text=auto
*.hs -text=auto

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.svg binary
*.eps binary
