<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header >
        <mat-panel-title>Form Controls</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/accounts'" class="sidenav-link">Autocomplete</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Checkbox</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Datepicker</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Form field</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Input</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Radio button</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Select</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Slider</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Slide toggle</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>Navigation</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/accounts'" class="sidenav-link">Menu</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Sidenav</a></p>
        <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link">Toolbar</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>Layout</mat-panel-title>
            </mat-expansion-panel-header>
            <p><a mat-button [routerLink]="'/accounts'" class="sidenav-link"> Item-1 </a></p>
            <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link"> Item-2 </a></p>
            <p><a mat-button [routerLink]="'/create-account'" class="sidenav-link"> Item-3 </a></p>
        </mat-expansion-panel>
</mat-accordion>
