.sidenav-link {
   min-width: 170px;
}

.mat-button {
    text-align: left;
}

.mat-button {
    line-height: 40px;
}

.mat-expansion-panel {
    margin-bottom: 4px;
}
.mat-expansion-panel-body {
    padding: 0px 26px 0px;
}

.mat-expansion-panel-spacing {
    margin: 4px 0;
}

p {
    margin: 2px;
}
