<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header >
        <mat-panel-title>Section 1</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Link 1</p>
        <p>Link 2</p>
        <p>Link 3</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Section 2
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Link 1</p>
        <p>Link 2</p>
        <p>Link 3</p>
    </mat-expansion-panel>
</mat-accordion>