<form #myForm="ngForm">
  <div class="form-group">
    <label for="oldPassword" i18n>Old Password</label>
    <input type="password" class="form-control" id="oldPassword" name="oldPassword" i18n-placeholder
    placeholder="enter your old password" value="Data" required
     minlength="5" maxlength="30"
    [(ngModel)]="oldPassword" #oPassword="ngModel" [ngModelOptions]="{standalone: true}">
    <div *ngIf="oPassword.errors?.minlength">
      <ng-container i18n>Name must be at least 5 characters long.</ng-container>
    </div>
    <div *ngIf="oPassword.errors?.required">
      <ng-container i18n>New Password required.</ng-container>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword" i18n>New Password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" i18n-placeholder
    placeholder="enter a new password" value="Data" required
     minlength="5" maxlength="30" #nPassword="ngModel" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
    <div *ngIf="nPassword.errors?.minlength">
      <ng-container i18n>Name must be at least 5 characters long.</ng-container>
    </div>
    <div *ngIf="nPassword.errors?.required">
      <ng-container i18n>New Password required.</ng-container>
    </div>
  </div>

  <div class="form-group">
    <label for="newPasswordRepeat" i18n>Repeat Password</label>
    <input type="password" class="form-control" id="newPasswordRepeat" name="newPasswordRepeat"
    i18n-placeholder placeholder="repeat new password" required  #rPassword="ngModel" (keyup)="passwordMatch()"
     minlength="5" maxlength="30" [(ngModel)]="newPasswordRepeat" [ngModelOptions]="{standalone: true}">
    <div *ngIf="rPassword.errors?.required">
      <ng-container i18n>Repeat Password required.</ng-container>
    </div>
    <div *ngIf="passwordNotMatch">
      <ng-container i18n>Password does not match</ng-container>
    </div>
  </div>
  <button i18n type="submit" class="btn btn-primary" (click)="changePassword()"
    [disabled]="oPassword.errors?.minlength || nPassword.errors?.minlength
    ||oPassword.errors?.required || nPassword.errors?.required || rPassword.errors?.required || passwordNotMatch">Save</button>
    <div class="alert alert-danger" role="alert" *ngIf="hasError">
      <ng-container i18n>Error to change password</ng-container>
    </div>
</form>
