<h1 class="mat-display-3" translate>SHOWCASE.DEMO.COLORS.TITLE</h1>
<section class="stark-section">
    <h1 translate>SHOWCASE.DEMO.COLORS.BASIC.TITLE</h1>
    <p [innerHTML]="'SHOWCASE.DEMO.COLORS.BASIC.DETAILS' | translate"></p>
    <!--<p [innerHTML]="'SHOWCASE.DEMO.COLORS.BASIC.LINKS' | translate"></p>-->
</section>
<section class="stark-section">
    <h1 translate>SHOWCASE.DEMO.COLORS.ALT.TITLE</h1>
    <p [innerHTML]="'SHOWCASE.DEMO.COLORS.ALT.DETAILS' | translate"></p>
</section>

<section class="stark-section">
    <h1 translate>SHOWCASE.DEMO.COLORS.CUSTOM.TITLE</h1>
    <p [innerHTML]="'SHOWCASE.DEMO.COLORS.CUSTOM.DETAILS' | translate"></p>
    <stark-pretty-print [data]="advancedMap" format="scss" [enableHighlighting]="true"></stark-pretty-print>
</section>

<section class="stark-section">
    <h1 translate>SHOWCASE.DEMO.COLORS.LINKS.TITLE</h1>
    <p [innerHTML]="'SHOWCASE.DEMO.COLORS.LINKS.DETAILS' | translate"></p>
</section>