.mat-card {
  &.stark-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding: 0;
    .mat-card-header {
      align-items: center;
      background-color: mat-color(map-get($base-theme, primary-palette), 800);
      color: mat-contrast(map-get($base-theme, primary-palette), 800);
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 8px 16px;
      .mat-card-header-text {
        flex-grow: 1;
        margin: 0;
      }
      .mat-card-title,
      .mat-card-title > * {
        color: inherit;
        margin: 0;
      }
      .mat-card-subtitle,
      .mat-card-subtitle > * {
        color: inherit;
        margin: 0;
        opacity: 0.7;
      }
    }
    .mat-card-content,
    .mat-card-actions {
      margin: 0 16px 16px;
      padding: 0;
      &:last-child {
        margin-bottom: 16px;
      }
      > div.stark-full-width {
        margin-left: -16px;
        margin-right: -16px;
      }
    }
  }
}

@media #{$tablet-query} {
  .mat-card {
    &.stark-card {
      .mat-card-header {
        padding: 8px 24px;
        margin-bottom: 24px;
      }
      .mat-card-content,
      .mat-card-actions {
        margin: 0 24px 24px;
        &:last-child {
          margin-bottom: 24px;
        }
        > div.stark-full-width {
          margin-left: -24px;
          margin-right: -24px;
        }
      }
    }
  }
}
