/* ============================================================================== */
/*  S t a r k   A c t i o n   B a r                                               */
/* ============================================================================== */
/* stark-ui: src/modules/action-bar/components/_action-bar.component.scss */

.stark-action-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 40px;
  overflow: hidden;
  transform-origin: bottom;
  .action-bar-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &.stark-action-bar-full {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 4px 0;
    position: fixed;
    right: 0;
    z-index: 4;
    &.extended {
      transition: 0.3s ease;
      height: auto;
      max-height: 280px;
      overflow-y: scroll;
      .action-bar-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
    .action-label {
      font-size: 13px;
      padding-left: 15px;
    }
  }
}

@media #{$tablet-query} {
  .stark-action-bar {
    position: relative;
    height: auto;
    transition: 0.7s ease;
    &.stark-action-bar-full {
      position: relative;
      &.extended {
        max-height: 900px;
      }
    }
  }
  .stark-action-bar-compact {
    flex-wrap: nowrap;
    padding: 0;
  }
}

/* END stark-ui: src/modules/action-bar/components/_action-bar.component.scss */
