/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}