<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>Data Table</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/components/paginator'" class="sidenav-link">Paginator</a></p>
        <p><a mat-button [routerLink]="'/components/sort-header'" class="sidenav-link">Sort header</a></p>
    </mat-expansion-panel>

    <!-- CDK Sidebar Links -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>Common Behaviors</mat-panel-title>
        </mat-expansion-panel-header>
        <p><a mat-button [routerLink]="'/cdk/drag-drop'" class="sidenav-link">Drag and Drop</a></p>
        <p><a mat-button [routerLink]="'/cdk/platform'" class="sidenav-link">Platform</a></p>
        <p><a mat-button [routerLink]="'/cdk/portal'" class="sidenav-link">Portal</a></p>
        <p><a mat-button [routerLink]="'/cdk/scrolling'" class="sidenav-link">Scrolling</a></p>
        <p><a mat-button [routerLink]="'/cdk/text-field'" class="sidenav-link">Text field</a></p>
    </mat-expansion-panel>

</mat-accordion>
