.page_cart-item {
}
.page_cart-item--image {

}
.page_cart-item--image img {
    max-width: 100%;
    height: 180px;
}
.page_cart-item--quantity {

}
.page_cart-item--price {
}
.page_cart-item--remove {
    cursor: pointer;
}
.page_cart-item--total {
    align-self: center;
    margin-left: 25px !important;
}
.page_catalog-list-item--header:hover {
    color: #f0ad4e !important;
}
.page_cart-item--extra {
    display: flex!important;
}