@import '~scss/variables';

.p10-top {
  @media only screen and (max-width: 500px) {
    padding-top: 20px;
  }  
}

.headerDecorator {
  margin-top: 20px;
  border: none;
  background-color: transparent; 
}

.jumbotron {
  height: 700px;
  width: 100%;
  color: $white;
  font-family: Montserrat, sans-serif;
  margin-bottom: 0px !important;    
}

.content {
  background-attachment: fixed;
}

#indexSearchForm {
  padding-top: 300px; 
  width:400px; 
  position: absolute; 
  top:0; 
  bottom: 0; 
  left: 0; 
  right: 60%; 
  margin: auto;
  @media only screen and (max-width: 768px) {
    width: 80%;
    padding-top: 460px;
    right: 0;
  }
}

.buttonArea {
  margin: 0px !important;
  height:100%;
}

// animation css

.tp-wrapper {
  perspective: 800px;
}

.tp-box {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.tp-box__side {
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.tp-box__front {
  background: $black;
}
.tp-box__back {
  @extend .tp-box__front;
  transform: rotateY(179.9deg);
}

// animation css end

.button-container {
  padding:10px; 
  position: absolute; 
  right: 10px; 
  z-index: 12345;
  @media only screen and (max-width: 500px) {
    padding: 60px;
    right: 45px;
  }
}

.slider-button {
  background-color: rgb(217, 83, 79); 
  color: white; 
  border-color: rgb(217, 83, 79); 
  border-radius: 0;
  margin:2px;
}