<h1 class="mat-display-3" translate>SHOWCASE.DEMO.BUTTON.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/basic" exampleTitle="Basic buttons">
		<div class="button-row">
			<button mat-button>Basic</button>
			<button mat-raised-button>Basic</button>
			<button mat-stroked-button>Basic</button>
			<button mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/primary" exampleTitle="Primary buttons">
		<div class="button-row">
			<button color="primary" mat-button>Primary</button>
			<button color="primary" mat-raised-button>Primary</button>
			<button color="primary" mat-stroked-button>Primary</button>
			<button color="primary" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="primary" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="primary" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="primary" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="primary" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/accent" exampleTitle="Accent buttons">
		<div class="button-row">
			<button color="accent" mat-button>Accent</button>
			<button color="accent" mat-raised-button>Accent</button>
			<button color="accent" mat-stroked-button>Accent</button>
			<button color="accent" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="accent" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="accent" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="accent" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="accent" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/warn" exampleTitle="Warning buttons">
		<div class="button-row">
			<button color="warn" mat-button>Accent</button>
			<button color="warn" mat-raised-button>Accent</button>
			<button color="warn" mat-stroked-button>Accent</button>
			<button color="warn" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="warn" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="warn" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="warn" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="warn" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/success" exampleTitle="Success buttons">
		<div class="button-row">
			<button color="success" mat-button>Success</button>
			<button color="success" mat-raised-button>Success</button>
			<button color="success" mat-stroked-button>Success</button>
			<button color="success" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="success" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="success" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="success" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="success" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/alert" exampleTitle="Alert buttons">
		<div class="button-row">
			<button color="alert" mat-button>Alert</button>
			<button color="alert" mat-raised-button>Alert</button>
			<button color="alert" mat-stroked-button>Alert</button>
			<button color="alert" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="alert" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="alert" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="alert" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="alert" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/alt" exampleTitle="Alt buttons">
		<div class="button-row">
			<button color="alt" mat-button>Alt</button>
			<button color="alt" mat-raised-button>Alt</button>
			<button color="alt" mat-stroked-button>Alt</button>
			<button color="alt" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="alt" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="alt" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="alt" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="alt" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/neutral" exampleTitle="Neutral buttons">
		<div class="button-row">
			<button color="neutral" mat-button>Neutral</button>
			<button color="neutral" mat-raised-button>Neutral</button>
			<button color="neutral" mat-stroked-button>Neutral</button>
			<button color="neutral" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="neutral" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="neutral" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="neutral" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="neutral" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer class="dark" [extensions]="['HTML', 'CSS']" filesPath="button/white" exampleTitle="White buttons">
		<div class="button-row">
			<button color="white" mat-button>White</button>
			<button color="white" mat-raised-button>White</button>
			<button color="white" mat-stroked-button>White</button>
			<button color="white" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="white" mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="white" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button color="white" mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button color="white" mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS']" filesPath="button/disabled" exampleTitle="Disabled buttons">
		<div class="button-row">
			<button disabled mat-button>Disabled</button>
			<button disabled mat-raised-button>Disabled</button>
			<button disabled mat-stroked-button>Disabled</button>
			<button disabled mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button disabled mat-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button disabled mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home"></mat-icon>
			</button>
			<button disabled mat-icon-button>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
			<button disabled mat-mini-fab>
				<mat-icon starkSvgViewBox svgIcon="home" class="stark-small-icon"></mat-icon>
			</button>
		</div>
	</example-viewer>
</section>
