.on-enter-key-directive-form {
  display: flex;
  flex-direction: column;
}

.restrict-input-directive-form {
  display: flex;
  flex-direction: column;
}

pre code {
  display: block;
  height: 200px;
  background-color: #cfcfcf;
  overflow: auto;
}
