<dl>
  <dt i18n>First Name</dt>
  <dd>{{student?.firstName}}</dd>
  <dt i18n>Last Name</dt>
  <dd>{{student?.lastName}}</dd>
</dl>

<hr>
<p class="h6 my-3"><u><ng-container i18n>Courses assigned to this student:</ng-container></u></p>

<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Course Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of assignedCourses">
      <td>{{course.course.name}}</td>
    </tr>
  </tbody>
</table>

<hr>
<p class="h6 my-3"><u><ng-container i18n>Follow-Up items registered for this student:</ng-container></u></p>


<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Registered Date</th>
      <th scope="col" i18n>Subject</th>
      <th scope="col" i18n>Is Delayed</th>
      <th scope="col" i18n>Is Absent</th>
      <th scope="col" i18n>Title</th>
      <th scope="col" i18n>historyDetails</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let follow of followUps">
      <td>{{follow.registeredDate | date}}</td>
      <td>{{follow.subject}}</td>
      <td>{{follow.isDelayed}}</td>
      <td>{{follow.isAbsent}}</td>
      <td>{{follow.title}}</td>
      <td>{{follow.historyDetails}}</td>
    </tr>
  </tbody>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="./children/{{studentId}}"
      [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
