<h1 class="mat-display-3" translate>SHOWCASE.DEMO.COLLAPSIBLE.TITLE</h1>
<section class="stark-section">
	<h1 translate>SHOWCASE.DEMO.SHARED.EXAMPLE_VIEWER_LIST</h1>
	<example-viewer [extensions]="['HTML', 'CSS', 'TS']" filesPath="collapsible/collapsible-default" exampleTitle="SHOWCASE.DEMO.COLLAPSIBLE.DEFAULT_ICON">
		<stark-collapsible 
				htmlId="firstCollapsible" 
				titleLabel="SHOWCASE.DEMO.COLLAPSIBLE.TITLE_0" 
				[(isExpanded)]="collapsed[0]"
		>
			{{ 'SHOWCASE.DEMO.COLLAPSIBLE.HTML_CONTENT' | translate }}
		</stark-collapsible>
		<button color="primary" class="collapsible-demo-button" (click)="toggleCollapsible(0)" mat-raised-button>{{ 'SHOWCASE.DEMO.COLLAPSIBLE.TOGGLE_COLLAPSIBLE' | translate }}</button>
		<span class="collapsible-demo-status" translate>{{ collapsed[0] ? "SHOWCASE.DEMO.COLLAPSIBLE.OPEN" : "SHOWCASE.DEMO.COLLAPSIBLE.CLOSED" }}</span>
	</example-viewer>

	<example-viewer [extensions]="['HTML', 'CSS', 'TS']" filesPath="collapsible/collapsible-custom" exampleTitle="SHOWCASE.DEMO.COLLAPSIBLE.CUSTOM_ICON">
		<stark-collapsible
				htmlId="secondCollapsible"
				titleLabel="SHOWCASE.DEMO.COLLAPSIBLE.TITLE_1"
				[(isExpanded)]="collapsed[1]"
				[iconSpinningEnabled]="true"
				icon="chevron-down"
		>
			{{ 'SHOWCASE.DEMO.COLLAPSIBLE.HTML_CONTENT' | translate }}
		</stark-collapsible>
		<button color="primary" class="collapsible-demo-button" (click)="toggleCollapsible(1)" mat-raised-button>{{ 'SHOWCASE.DEMO.COLLAPSIBLE.TOGGLE_COLLAPSIBLE' | translate }}</button>
		<span class="collapsible-demo-status" translate>{{ collapsed[1] ? "SHOWCASE.DEMO.COLLAPSIBLE.OPEN" : "SHOWCASE.DEMO.COLLAPSIBLE.CLOSED" }}</span>
		<hr class="collapsible-demo-line">
		<stark-collapsible
				htmlId="thirdCollapsible"
				titleLabel="SHOWCASE.DEMO.COLLAPSIBLE.TITLE_1"
				[(isExpanded)]="collapsed[2]"
				icon="information"
		>
			{{ 'SHOWCASE.DEMO.COLLAPSIBLE.HTML_CONTENT' | translate }}
		</stark-collapsible>
		<button color="primary" class="collapsible-demo-button" (click)="toggleCollapsible(2)" mat-raised-button>{{ 'SHOWCASE.DEMO.COLLAPSIBLE.TOGGLE_COLLAPSIBLE' | translate }}</button>
		<span class="collapsible-demo-status" translate>{{ collapsed[2] ? "SHOWCASE.DEMO.COLLAPSIBLE.OPEN" : "SHOWCASE.DEMO.COLLAPSIBLE.CLOSED" }}</span>
		<hr class="collapsible-demo-line">
		<stark-collapsible
				htmlId="fourthCollapsible"
				titleLabel="SHOWCASE.DEMO.COLLAPSIBLE.TITLE_1"
				[(isExpanded)]="collapsed[3]"
				icon="account-circle"
		>
			{{ 'SHOWCASE.DEMO.COLLAPSIBLE.HTML_CONTENT' | translate }}
		</stark-collapsible>
		<button color="primary" class="collapsible-demo-button" (click)="toggleCollapsible(3)" mat-raised-button>{{ 'SHOWCASE.DEMO.COLLAPSIBLE.TOGGLE_COLLAPSIBLE' | translate }}</button>
		<span class="collapsible-demo-status" translate>{{ collapsed[3] ? "SHOWCASE.DEMO.COLLAPSIBLE.OPEN" : "SHOWCASE.DEMO.COLLAPSIBLE.CLOSED" }}</span>
	</example-viewer>
</section>
