.page_home {
    text-align: center;
    position: relative;
}
.page_home-title {
    padding: 15px 0;
    color: #f0ad4e;
}
.page_home-description {
    max-width: 700px;
    display: block;
    margin: 15px auto;
    font-size: 17px;
    color: #ffffff;
}
.page_home-github-link {
    display: block;
}
.page_home-github-link img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
.page_home-image {
    max-width: 400px;
    margin: 0 auto;
}
.page_home-image img {
    max-width: 100%;
}
.page_home-cta {
    margin-top: 20px;
}
.page_home-cta:active {

}