<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Teacher Invite</h4>
    <button type="button" class="close" i18n-aria-label aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <input type="email" placeholder="email@gmail.com" [(ngModel)]="teacherInfo.email"
            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            #invite="ngModel" [ngModelOptions]="{standalone: true}">
          <button i18n type="submit" class="btn btn-primary" (click)="inviteTeacher()"
           [disabled]="invite.errors?.required || invite.errors?.pattern">Invite</button>
        </div>
        <app-user-invite-list [users]="teachers"></app-user-invite-list>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button i18n type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button i18n class="btn btn-primary" (click)="open(content)">Invite Teacher</button>
<app-teacher-list></app-teacher-list>
