<div class="upload-file-wrap">
    <div class="upload-file">
        <label for="_bankLogo" class="bank-logo-label">
        </label>
        <input class="upload-file-input" id="_bankLogo" type="file" accpet="image/gif,image/png,image/jpeg,image/jpg,image/bmp"
        (change)="fileChange($event)"/>
        <input style="display:none;" type="text" [(ngModel)]="fileUrl">
        <i *ngIf="uploading" class="file-uploading">正在上传...</i>
    </div>
    <div class="file-list">
        <ng-container *ngIf="show">
            <img [src]="imgSrc" alt="图片加载失败" title="点击预览" [preViewImg]="imgSrc"/>
        </ng-container>
    </div>
    <div class="size-tips" *ngIf="maxSize">
        图片大小不超过{{maxSize}}K
    </div>
</div>